[2018-10-02 18:32] chjj opened #1 "Proving non-inflation"
Since we now have a magic merkle tree which conjures coins, we need to prove that the supply is finite.

Two ways to do this:

1. Make the entire tree a merkle sum tree. We will know that it can never conjure more value than the value attached to the root node.
2. Add a consensus rule that only X amount of value can ever exit the tree.

The second method doesn't prove the amount of value in the tr

[2018-10-02 20:49] rojii commented on #1
Which one of the two are you favoring? do you believe testing out both methods is the only way to be certain as to what is the most viable solution?

[2018-12-03 00:12] chjj commented on #1
Update: the "faucet" tree is now separate from the airdrop tree. I've published all the leaf preimages for it in hs-tree-data. This should be sufficient to prove non-inflation as the airdrop tree has a constant value associated with each leaf.

[2018-12-03 00:12] #1 closed

[2018-12-20 08:58] infinity0 opened #2 "More precise instructions"
Hey thanks for considering FOSS developers!

It's actually very non-trivial to install NodeJS and NPM packages on an airgapped machine. Could you describe the cryptography in a bit more detail? Is it just a blinding factor that I should XOR into my normal (ed25519) secret key? And what should we use for the `[addr]` and `[value]` arguments?

[2018-12-31 00:45] singpolyma opened #3 "Are we intended to wait for mainnet launch?"
I assume we are meant to wait for mainnet launch before running the commands in this repo?  Also, for those of use who used the web faucet, I assume we are only meant to claim by submitting our address from there and not to re-submit our keys?

Thanks.

[2019-01-04 09:38] bneiluj opened #6 "`hs-tree-data` link doesn't exist until constructed."
https://github.com/handshake-org/hs-tree-data does't exist until constructed from `Path.resolve(os.homedir(), '.hs-tree-data');` , so links in README (merkle tree and nonces) give link errors.

[2019-01-08 18:07] iczero opened #7 "handshake-org/hs-tree-data does not exist"
The handshake-org/hs-tree-data repository does not exist or is private. As a result, hs-airdrop crashes (Invalid checksum) when accessing https://github.com/handshake-org/hs-tree-data/raw/master/faucet.bin.

[2019-01-08 18:17] mmcc commented on #7
Running into the same issue. Here's the full error if it helps:

[code]

[2019-01-08 18:18] mmcc commented on #2
The `value` argument specifically is tripping me up. My Handshake dashboard says 5000, but the Github repo seems to say `4,662.598321`. Unsure which to use (or an entirely different number).

[2019-01-08 19:15] karissa commented on #7
Same here

[2019-01-08 19:16] karissa commented on #7
Seems like https://github.com/handshake-org/hs-tree-data is a private repo, perhaps?

[2019-01-08 20:51] hschoenburg commented on #7
Hi yes it is still private. The repo should be published when the Faucet is complete and can be imported into the airdrop tree. Note "Faucet" is handshake.org and "airdrop" is this on-chain mechanism. The coin distribution is currently transitioning from Faucet (closing down) to Airdrop (coming soon on the next testnet)

[2019-01-08 21:24] jamiew commented on #7
Confusing since y'all emailed everyone to try this out. Can we expect another email when it's up and working?

[2019-01-09 00:13] hschoenburg commented on #7
Hi @jamiew  yes my apologies for the confusion. The email was to get handshake.org Faucet participants to send in their addresses before the Faucet closes. And then, unnecessarily linked them here.

Given how much confusion the email today caused, I am going to stop using that mailing list. This repo will be published with the launch of the next testnet.

[2019-01-09 00:18] actionless commented on #7
i was trying to follow the link from the second e-mail but it was leading to this repo when i was clicking to add IRC or e-mail

also on the dashboard it shows 2500 points instead of 4-thousands-something, but i guess it's already too much offtopic for this ticket

[2019-01-09 00:32] actionless commented on #7
from the wording of announcement it seemed to me like airdrop is a replacement for faucets for the lately arrived participant, sorry for misunderstanding

[2019-01-09 17:54] khoazany commented on #7
My address is there on handshake.org but browsing the address hnscan.com results in 0 HNS? Is there something missing?

[2019-01-10 12:03] skynode commented on #7
You're querying the Handshake _testnet_

[2019-01-22 10:35] chjj commented on #7
hs-tree-data is now public again for testnet3. It was made private temporarily due to concerns over the privacy aspects of the airdrop (it wasn't usable on testnet2 anyway).

If you were part of the original faucet, your address should be listed in [hs-tree-data/proof.json](https://github.com/handshake-org/hs-tree-data/blob/master/proof.json). Verifying that it's present is a good idea. Let us kno

[2019-01-22 10:35] #7 closed

[2019-01-22 10:37] chjj commented on #3
The airdrop is now active on testnet3. Feel free to give it a try.

[2019-01-22 10:37] #3 closed

[2019-01-22 10:47] chjj commented on #2
A full specification will be written eventually, but the short answer is no: it's non-trivial to derive ed25519 keys using anything but [bcrypto] since it violates the ed25519 specification in order to work (it's tricky to do HD-style derivation with ed25519 since your private key isn't a scalar -- it's the _seed_ for a scalar).

The cryptography itself is the same as in bitcoin HD derivation: `(p

[2019-01-29 17:15] actionless commented on #7
and what does true/false values mean there?

[2019-01-29 17:46] chjj commented on #7
This will require some explanation...

The merkle tree that `proof.json` proves non-inflation for contains faucet recipients and project sponsors. We wanted a "built-in" fee for the faucet proofs to make it easier for the faucet rewards to go out. This implicit fee is taken out of a user's faucet or sponsor reward. Since the fee is baked into the protocol, the proofs don't need to be signed. This

[2019-02-06 09:21] chjj opened #8 "Possibly modify EC scheme to protect against related key attacks"
The related key attacks described [here][1] may apply to our current EC scheme. This most likely isn't an actual issue for any of keys in the tree since SSH keys aren't typically used to sign arbitrary messages and the messages they do sign on the SSH protocol level include the public key itself (partially implementing the Morita et al. "improved" scheme). That said, it's probably better to be saf

[2019-03-01 23:15] kousu opened #10 "New-format RSA Keys are unsupported"
Your README and help text explicitly say that RSA keys are supported, but it doesn't work.

Here's an example on a fresh key:

[code]

Here is that keypair so you can verify for yourselves:

[code]

[code]

These lines in the ssh codebase you're using

https://github.com/bcoin-org/bcrypto/blob/934f5ea45a0bc0926b9e7916f68bfeb2ea4881e3/lib/ssh.js#L348-L350

https://github.com/bcoin-org/bcrypto/blob/

[2019-03-01 23:20] kousu commented on #10
On further inspection, I think what is going on is that my RSA key is in the [new format](https://www.tedunangst.com/flak/post/new-openssh-key-format-and-bcrypt-pbkdf) marked by "BEGIN OPENSSH PRIVATE KEY" defined in https://github.com/openbsd/src/blob/master/usr.bin/ssh/PROTOCOL.key. As @tedu mentions, that format was initially only used for ed25519 keys by default, but *can* hold any kind, where

[2019-03-01 23:58] kousu commented on #10
After all that, I figure this isn't really your bug. I've reported it at https://github.com/bcoin-org/bcrypto/issues/11 instead. But since this will probably affect a lot of your users, I'm going to leave this open to collect workarounds.

[2019-03-11 08:38] chjj commented on #10
Hmm, I wasn't aware that openssh even used the new format for anything other than ed25519 keys yet. The reason they're not implemented in bcrypto is that I couldn't find any real examples of RSA keys encoded in the new format. And yes, it was partially reverse engineered since I could only find sparse info on the new format (aside from a small readme which didn't outline the exact structure of dif

[2019-03-11 12:43] kousu commented on #10
I'm not surprised. The rollout of openssh.org through to everyone in the world is slow. It took me an afternoon tracing code to even realize I was using a new format key.

Let me throw you some e-appreciation for doing maintenance drudgery: thank you for your work 🎩

[2019-03-12 22:19] #10 closed

[2019-03-20 04:25] kousu commented on #10
Thank you @chjj! You are a gentleman and a scholar.

[2019-04-05 04:24] troq opened #12 "Unclear how to claim as a keybase user"
How does claiming work as a keybase user? From what I can tell, you added the public pgp keys for keybase users who have verified their Hackernews accounts, but it's unclear how to actually claim and on what device.

[2019-04-05 15:16] dos1 commented on #12
As far as I understand it, you should claim it using your PGP private key.

[2019-04-05 19:24] dos1 opened #13 "Can't decrypt ed25519 key with passphrase"
[code]

Decoding the key manually to not contain a passphrase allows hs-airdrop to proceed further.

I've also tested with a rsa key and it worked.

[2019-04-05 19:34] troq commented on #12
Right, but according to the [testnet 4 update](https://github.com/handshake-org/hsd/issues/126), the keys for Keybase users who have connected their Hackernews accounts over 1.5 years old were added to the airdrop, but it's unclear which keys were used. If it's PGP keys, not every Keybase user will have that as Keybase [changed their key model in 2015](https://keybase.io/blog/keybase-new-key-model

[2019-04-09 18:40] tynes opened #14 "Use Public Key to Determine Inclusion for Github Airdrop"
Is it possible to do this? It would be really bad for privacy, but some users want to be certain that they are included in the airdrop before they are willing to share their private key with the software.

Is it possible that a user could sign a piece of data to determine if they are in the airdrop?

If we had the exact day that the tree data was collected, it would be a lot easier to explain to p

[2019-04-24 00:23] Centuriondan opened #15 "A better mechanism for finding interested and deserving open source developers."
My biggest issue with this air drop is that it will probably miss many if not most deserving open source contributors, and may capture many that are not open source friendly at all.

I haven't yet figured out a better solution, but will update this ticket with ideas once I've had opportunity to give it some more thought.

At a minimum we'd need to define what is meant by "open source", "developers

[2019-05-03 17:41] Shashi456 opened #16 "Doubt regarding airdrop"
What if i did not have 15 followers during the said week.

Is this airdrop still on for users more than 15 followers?

[2019-05-03 18:47] tynes commented on #16
The airdrop is still on for Github users who had more than 15 followers during the week of 2018-08-27

[2019-05-03 18:57] adamhackbarth commented on #16
That counts me out. Thanks for the reminder.

[2019-05-03 22:26] tynes commented on #15
Its definitely not an easy problem to solve. One of the larger issues is sybil resistance, people will always try to figure out a way to cheat the system to get multiple airdrops

[2019-05-15 23:28] tynes commented on #12
Taking a look at the Keybase API docs, I found something interesting:

[code]

https://keybase.io/docs/api/1.0/user_objects

This seems like its outdated because there is an endpoint for adding a key.
https://keybase.io/docs/api/1.0/call/key/add

Digging in some more, NaCl uses Ed25519, which is supported.
https://github.com/handshake-org/hs-airdrop/blob/00f09bc8392bd6ba8dfafc5e2d26c2477418f89c/li

[2019-06-02 19:56] filips123 commented on #15
I think that it is not good to only have followers as the count for the airdrop. Users could have followers even if they aren't contributing to open source projects.

Instead, users for the airdrop should be determined by commits and pull requests submitted to open source repositories.

[2019-07-16 18:34] jacobhaven opened #17 "Publish docker image for easier use"
A simple signed Docker container could come preinstalled with the right version of node and the airdrop tool.

We could also provide instructions to run it in an interactive, non-networked way mounting the key on the host filesystem.

[2019-07-16 19:00] pinheadmz commented on #17
There is one: https://hub.docker.com/r/purse/bcoin

Github repo: https://github.com/bcoin-org/bcoin-docker

...these are admittedly out of date. Contributions and suggestions are welcome! You could also help us by writing a guide for bcoin.io and submitting it as a pull request to https://github.com/bcoin-org/bcoin-org.github.io#adding-a-new-guide

I am also currently working with Digital Ocean to

[2019-07-16 19:03] pinheadmz commented on #17
OK hey! Sorry, wrong repo. You are right we need to do all this for handshake (in addition to bcoin)

 I think we should wait for mainnet, but you're right that would be very convenient.

[2019-08-01 01:36] TheSpyder commented on #2
I alleviated my concerns about handing out my private key in a few ways

* Duplicated the key file and stripped the password from it so `hs-airdrop` didn't need that information
* Rather than airgap my machine, I just separated the both `npm install` and the app itself from my filesystem using docker to install. Not a specific handshake docker image, just the latest `nodejs`, i.e. `docker run --rm

[2019-08-08 18:16] markbosky commented on #16
Does inclusion require that a qualified account contained both an SSH Key and GPG Key as of 2018-08-27? Am I understanding that if the account only had an associated SSH key, but no GPG key, then redemption isn't an option?

[2019-08-12 17:40] pinheadmz opened #19 "Usage examples depict testnet addresses, but all faucet addresses are mainnet."
https://github.com/handshake-org/hs-airdrop#usage

I was trying to help an airdrop recipient on IRC manage the `faucet-tool` and generate an address. They were confused because they thought they would need to import their faucet-tool mnemonic seed into an hsd testnet full node wallet.

I tried to test airdrops on testnet with my own faucet address, but wasn't able to succeed. (Started by convertin

[2019-09-09 17:50] pinheadmz opened #20 "Multiple duplicate addresses in faucet tree, only first instance will be returned by findProofEntry()"
I noticed a few addresses were duplicated in https://github.com/handshake-org/hs-tree-data/blob/master/proof.json and wrote a quick script to find them all (output below). One address is in the tree 62 times!

I'm not sure what caused this, if it's intended or not. Either way, the `hs-airdrop <addr>` script will only return a proof for the first occurrence of a given address:

https://github.com/h

[2019-09-09 18:09] chjj commented on #20
Interesting. I'm looking through my build scripts & data right now. It looks like someone may have sybil'd the faucet when it was still running. We'd probably have to ask Hans for more details.

[2019-09-10 13:09] pinheadmz commented on #20
@hschoenburg ?

[2019-09-17 21:07] jacobhaven opened #21 ""Could not find nonce in bucket" is not a clear error message"
Whenever a user attempts to generate a proof with a key that not in the tree is the tree, they get a rather confusing ["Could not find nonce in bucket ${bucket}."](https://github.com/handshake-org/hs-airdrop/blob/master/bin/hs-airdrop#L234) error.

This is a fairly common occurrence and users are usually confused by it. A better message would  explain that the key they're using is not eligible for

[2019-09-17 21:09] pinheadmz commented on #21
Agreed. Have explained this error message 3 times in a week!

https://old.reddit.com/r/handshake/comments/d3few3/having_trouble_claiming_tokens_with_the_airdrop/

[2019-09-17 21:15] jacobhaven commented on #21
@pinheadmz This _only_ occurs for ineligible keys, right? (though it doesn't directly indicate whether a key is eligible because a claim could already have been mined)

I think maybe `Chosen key is not eligible for airdrop: could not find nonce in bucket ${bucket}.`.

It would be _nice_ if we caught the error in `main` and could say `Key with filename ${file} [...]`, but that's not super necessary

[2019-09-17 21:19] pinheadmz commented on #21
`hs-airdrop` won't know if a claim ha already been mined - its an off-chain tool that generates a proof. That proof gets transmitted to the chain, and double-spends are rejected at that point. That will include a github user with multiple keys, trying to claim from multiple keys.

"Eligible" is an unfortunate term too, I dunno. I think maybe

`Could not find public key in airdrop tree (nonce missi

[2019-09-17 21:27] jacobhaven commented on #21
Yeah, there are false negatives, but those people don't see a confusing error message here. They just get a (valid) proof that gets rejected 🤷‍♀.

I think "eligible" is a bit clearer. There _are_ eligibility requirements for a key to be in the tree, and the one they are are trying to use doesn't match them.

But, if you want to obfuscate that point a bit: `Chosen key is not in the airdrop tree` if

[2019-11-08 12:05] mathstuf commented on #14
Agreed. Any chance of getting this support? @chjj

[2019-11-08 13:25] pinheadmz commented on #14
@mathstuf you should be able to test an airdrop claim on regtest, on an offline machine (if you're worried). https://github.com/handshake-org/hs-airdrop

[2019-11-08 14:33] mathstuf commented on #14
"regtest"? Also the docs are a bit unclear. I'll file a new issue for where things seem unclear to me.

[2019-11-08 14:36] mathstuf opened #24 "Unclear documentation"
I'm not familiar with Handshake. I found this repo through a mention elsewhere and was curious. The docs seem to be making some assumptions.

Just looking at the command reference in the readme, it seems any SSH key call wants and address and amount. Is there an assumption that I already have some handshake account/wallet setup? Should that address be mine? How can I find out how much I can even r

[2019-11-08 20:22] pinheadmz commented on #24
I agree we need better docs for users who have never used a cryptocurrency or blockchain before. I can start on that soon. You might want to read the wallets guide here: https://handshake-org.github.io/guides/wallet.html, and check out the api docs here: https://handshake-org.github.io/api-docs/

You should be able to run an `hsd` full node in `regtest` mode (local only, very easy to generate bloc

[2019-11-08 20:29] pinheadmz commented on #24
See #14

[2019-11-11 18:42] tynes commented on #14
If this was possible, it would be possible to brute for the entire set of participants in the airdrop by testing every key on Github. Privacy vs UX, classic tradeoff.

[2019-11-11 18:57] tynes commented on #24
@mathstuf There is a bit of an [inferential gap](https://wiki.lesswrong.com/wiki/Inferential_distance) after thinking about blockchain for awhile, its easy to gloss over details that are assumed to be common knowledge with new people entering the space. Since there is essentially a bounty on figuring it out, people will eventually produce more detailed guides. If you figure anything out, feel free

[2019-11-20 16:19] chjj commented on #20
The build script now removes all duplicates. Closing.

[2019-11-20 16:19] #20 closed

[2020-02-05 17:06] onurakpolat opened #26 "Validate correct claim"
Friends,

I was wondering if there is a way to verify that a claim has been made correctly, and if thats even possible with the two-weeks tx ban on mainnet. I've used my faucet address back then. I basically:

* created the base64 string with `hs-airdrop`

[code]
* started a `hsd` full node
* used `hs-client` to pass the prev. generated base64 key via hsd-rpc sendrawairdrop.

it returned a 64-char

[2020-02-05 17:10] pinheadmz commented on #26
Sounds like your test was actually successful, although if you check your full node logs you might see that the airdorp proof was rejected by the network because of the 2-week hold on transactions.

You can launch a local regtest chain (which has no txStart limit) and submit your proof to the regtest chain. Generate a block and then check your wallet balance!

The 64-character string you saw is a

[2020-02-05 17:11] pinheadmz commented on #26
In fact on my own full node I grepped for such messages and found about a dozen airdrop proofs being rejected for this reason:

[code]

[2020-02-05 17:13] onurakpolat commented on #26
Found it too, amazing thanks!

[2020-02-05 17:13] #26 closed

[2020-02-07 23:54] stephen304 opened #27 "How to get seed phrase for import?"
Namebase has an import tab that says "If you went through the developer faucet on Handshake.org and received a seed phrase, you can paste that here to import your funds into your Namebase account."

Handshake.org links to this repo to claim HNS, but the docs here don't seem to show how to get the seed phrase. I want to avoid running a full node since I just want to buy domains. Ideally I would lik

[2020-02-11 16:42] boymanjor commented on #27
@stephen304 the airdrop proof is worth [`4,246,994,314`](https://github.com/handshake-org/hs-airdrop/blob/master/etc/tree.json#L11) dollarydoos, i.e. `4246.994314` HNS.

[2020-02-12 18:14] #21 closed

[2020-02-12 22:44] gg2001 opened #29 "What value should I enter to claim my entire airdrop?"
I would like to claim all of the HNS airdropped to me, but I don't know how much I have received. What value should I pass to the hs-airdrop tool? The documentation is very unclear and makes no sense.

So should I just pass the value 4246.994314 to claim the whole airdrop? How are the transaction fees paid then? Please fix the README, even as a developer in the crypto space it makes zero sense.

[2020-02-12 23:00] pinheadmz commented on #29
There are two kinds of airdrops.

If you registered at handshake.org you have a faucet address and backup seed. No action is needed on your part at all. The miners will include all the faucet airdrop outputs once transactions are enabled at block 2016. They are incentivized to do so with hard-coded fee amounts.

If you are NOT in the faucet tree, you need to use this tool to generate a proof with

[2020-02-12 23:03] gg2001 commented on #29
Thanks for the quick reply, I wasn't in the faucet tree so this makes more sense now.

[2020-02-12 23:03] #29 closed

[2020-02-13 04:15] withinboredom opened #31 "HSM instructions"
I can't derive how to do this from any of the examples given or the instructions. Can someone explain how this is done?

[2020-02-13 19:31] pinheadmz commented on #24
Mainnet has started and all the software and the readme has been updated:

https://github.com/handshake-org/hs-airdrop/commit/cd90f42cf806dc4c037b03db5548cd14e3a5852a

Has this issue been resolved? @mathstuf

[2020-02-13 21:42] tedder commented on #31
I _think_ all that needs to be done is this:
- from `hsd`:
  - run `hsw` or `wallet`
- from `hs-client`:
  - `bin/hsw-cli get`, make sure it exists
  - `bin/hsw-cli master`, make sure it exists
  - generate subwallet: `bin/hsw-cli account create initial`
  - get the "faucet" address: `bin/hsw-cli --account=initial address`
- from `hs-airdrop`:
  - `bin/hs-airdrop ~/.ssh/your_private_ssh_key_regist

[2020-02-14 08:23] withinboredom commented on #31
Yeah, that key doesn't exist because it's in an HSM and by the nature of an HSM, it can't be exported. I can only sign or encrypt data.

I was luckily able to find an old key in a backup that worked, but others will not be so lucky.

[2020-02-14 20:21] stephen304 commented on #27
Thanks @boymanjor , do you know how to check the status of the airdrop after submitting? I created the proof with my namebase wallet address and submitted it this morning but nothing has come through, creating additional proofs and submitting seems to error so I'm guessing it went through but I don't know what to expect for availability of funds. I'd like the ability to participate in the next wee

[2020-02-14 20:48] pinheadmz commented on #27
Miners are overloaded with airdrop proofs right now. They only include 10 per block, and the sponsor proofs pay fees of 100-500 HNS each! So it may take several hours to mine yours. If you have an "urgent" need for HNS, you could try including a fee > 100 HNS and rebroadcasting.

[2020-02-14 20:54] abrkn opened #32 "Fails if PGP .asc contains both public and private key blocks"
Trying to do PGP key airdrop claim

[code]

## Why?

When a PGP key is exported from GPG (macOS) with the secret included, it looks like:

[code]

This tool cannot process the file.

## Workaround

Remove the public key block and re-run command

[2020-02-14 21:19] gg2001 commented on #32
For me on MacOS my PGP private key was above the public key, and hs-airdrop worked. It looked like this:
[code]

[2020-02-14 22:41] jsappme opened #33 "Error: Could not locate the bindings file."
the following command:

[code]
is giving me:

[code]

I am using node v10.16.0

[2020-02-15 17:32] josescasanova opened #34 "Issue claiming"
Hey everyone, I'm having an issue claiming the airdrop tokens and looking for some guidance. These are the steps that I've taken:

- I checked and verified my HNS wallet address is in https://github.com/handshake-org/hs-tree-data/blob/master/proof.json . I also have the initial seed phrase from when I created it.
- Cloned + installed `hs-airdrop`
- Ran `./hs-airdrop ~/.ssh/id_rsa <WALLET_REDACTED>

[2020-02-15 17:37] josescasanova commented on #29
hey @pinheadmz,

Regarding `The miners will include all the faucet airdrop outputs once transactions are enabled at block 2016` does your HNS address being included here https://github.com/handshake-org/hs-tree-data/blob/master/proof.json mean you are part of the faucet tree?

[2020-02-15 20:31] sangaman opened #35 "Could not find nonce in bucket - key was not found in the airdrop tree"
I tried this tool to claim the airdrop with my github gpg key, which has been associated with my account for years.

[code]

At 23 followers I'm over the 15 follower minimum, so I'd expect it to be included, although it's possible I was below 15 followers at the time the merkle tree was built. Is there anyway to tell for sure whether this is a bug or I'm doing something wrong vs that I'm just not

[2020-02-15 20:33] pinheadmz commented on #35
Did you also register at Handshake.org for the faucet?

[2020-02-15 21:01] sangaman commented on #35
No I didn't, I wasn't aware of that. Is that necessary for the GitHub account airdrop?

[2020-02-15 21:50] pinheadmz commented on #35
No but it's a common reason why users are not in the GitHub airdrop (the tree was deduped so users only get one).

Do you have another key you could try? PGP or SSH? Also make sure you are running the latest version of hs-airdrop.

[2020-02-15 22:05] amsimoes commented on #35
How does one register at Handshake.org?

Also, I'm sure I had >15 followers on 04-02-2019, but I'm using a new SSH key since December 2019, and using the tool with the private pair of this key.

Would I need to retrieve the older one??

Thanks!

[2020-02-15 22:21] pinheadmz commented on #35
Yeah try the older key. I'm not sure when the data was scraped but it might've been just before that.

[2020-02-15 22:27] amsimoes commented on #35
@pinheadmz I think it was scraped April 2019.

Since I didn't back up my older ssh private key, I've no chance right? :(

[2020-02-16 00:14] cjb opened #36 "How to convert JSON "address" to bech32?"
It'd be nice to be able to prove (to myself) that the JSON generated by hs-airdrop is really going to send the reward to the address I passed to hs-airdrop, and not some other address.  But the formats aren't the same -- the one on the command line starts with `hs` and is 42 chars long and the one in the payload's `address` field is 40 chars long and doesn't match it.  Is there a conversion functi

[2020-02-16 04:54] pinheadmz commented on #36
Great question. Shortest answer: Handshake airdrop addresses are segwit p2pkh addresses in bech32 format. That means they contain a `version` and a 20-byte `hash`. The JSON output splits the two values up and displays them both in hex.

Here's an example using the first faucet address in https://github.com/handshake-org/hs-tree-data/blob/master/proof.json:

[code]

And here's the proof using hsd a

[2020-02-16 12:19] chjj commented on #35
Replying to: https://github.com/handshake-org/hs-airdrop/commit/cd90f42cf806dc4c037b03db5548cd14e3a5852a#r37314705

I want to be clear on this: the snapshot is from February 2019. There's a few reasons for this. I think the main thing I would point out is that we had also done the crawl 5 months before the final date. On the second crawl we noticed that not many people actually update their SSH ke

[2020-02-16 15:31] maguowei commented on #35
The same to me. I changed my key and lost the old one.

[2020-02-16 15:37] daijiale opened #37 "It seem that the service of 151.101.22.133:433 didn't work ？"
When I run ' ./bin/hs-airdrop ~/.ssh/id_rsa  address fee '  in my shell ：

What 's the passphrase I should input ?

And then the log is :

It seem that the service of 151.101.22.133:433 didn't work ？  How to fix it？

[2020-02-16 16:01] imcda commented on #37
same problem

[2020-02-16 16:05] imcda commented on #37
did you use the VPN in terminal？PS. global-mode.

[2020-02-16 16:09] daijiale commented on #37
I try VPN and export http_proxy in terminal ! Didn't work as well ,  Had you fixed it ?

[2020-02-16 16:10] pinheadmz commented on #37
The password is for the private key you passed to the tool. The key needs to be decrypted so the tool can sign a message with it.

For everyone getting network errors, I'm not sure but it could just be that GitHub is sluggish or maybe everyones trying to claim all at once.

You can also just clone https://github.com/handshake-org/hs-tree-data and save it as `~/.hs-tree-data` in your home directory

[2020-02-16 16:14] imcda commented on #37
Recommend Proxifier, that's real global-mode for your terminal. try-try-look.:)

[2020-02-16 16:41] qiushaoxi opened #38 "Error: Invalid checksum: tree.bin"
Decrypting nonce...
Found nonce!
Rebuilding tree...
Downloading: https://github.com/handshake-org/hs-tree-data/raw/master/tree.bin...

Error: Invalid checksum: tree.bin

[2020-02-16 16:58] pinheadmz commented on #38
Check if you have old data, remove and reinstall everything:

https://github.com/handshake-org/hs-airdrop#notes

[2020-02-16 17:00] daijiale commented on #35
@pinheadmz  the same problem to me , I had changed my SSH Key in 4th Aug 2019. And the shell said:

What can I do then ?

[2020-02-16 17:02] daijiale commented on #37
Thanks ~ It works , but I meet a new problem the same as the issue : [https://github.com/handshake-org/hs-airdrop/issues/35](url)

[2020-02-16 17:07] pinheadmz commented on #35
@daijiale if your old key is gone then you can not claim.

[2020-02-16 21:56] cmnord commented on #35
Me too 😞

[2020-02-16 23:26] sangaman commented on #35
I don't have any other PGP/SSH keys associated with my account, and my code was up to date with master at the time I created the issue. It's entirely possible I did not have 15+ followers on Feb 2019, I pay almost no attention to this count. I'm assuming I simply wasn't included at the time the crawl happened but I'd be happy to try something else if there are any other ideas.

[2020-02-16 23:53] amsimoes commented on #35
Ahh it's a bit sad this happening :(

The older public key is still saved on my Github profile, isn't there a way to check against the crawl data?
@chjj I think it can be proved that I had (and still have) the public ssh key on my github profile, even If I don't own the private pair anymore...

Is there any other way to get this airdrop then?

[2020-02-17 07:59] imcda commented on #37
I also got this message, I think that means we didn't meet the requirements, I am not sure.GIVE UP the airdrop, lol.

[2020-02-17 08:15] xlc commented on #31
I am using yubikey and how do I sign with it? How do I make the cli give me the data to sign?

[2020-02-17 08:24] xlc commented on #35
One of my old key is gone, along with my old machine. And another key that I didn't rotate is stored in my Yubikey. Any details of how to make a claim with Yubikey?

[2020-02-17 11:18] alivebao commented on #35
So if we can't find the oldest ssh key then we can't meet the requirement right? Even our followers meet the count? sigh...

[2020-02-17 12:11] cqcn1991 opened #39 "Install in windows?"
Hi, when I install it in windows, it gives me the error

![图片](https://user-images.githubusercontent.com/2425141/74652709-99420480-51c1-11ea-99a4-7f1f0364822b.png)

Is this because I'm using Python 3? is there any way I can fix the error?

Thanks!

[2020-02-17 13:03] pinheadmz commented on #31
This may not be possible because the nonce is discovered by hashing the private key, so you may need direct access to it. That's as far as I know, @chjj may have some more insight and this might be something we can enable in the future, just please be patient.

[2020-02-17 13:11] pinheadmz commented on #39
node-gyp should work with either python 2 or 3:

https://github.com/nodejs/node-gyp#on-unix

What version of nodejs / npm are you running?

[2020-02-17 14:37] yuangezhizao opened #40 "Error: Hi bit unset in PGP packet header."
Hi，i use my PGP key but a error occur.
[code]
At first i export my private key like this.
[code]
Then，i use the hs-airdrop command tools.
[code]
So，how to fix it?
Thanks.

[2020-02-17 15:32] withinboredom commented on #31
Seems that we should be able to generate the nonce in the same way they were generated using our public key?

[2020-02-17 15:37] withinboredom commented on #35
See #31

[2020-02-17 15:39] pinheadmz commented on #31
You're right, I think the bucket is determined by the first byte of the hash of the _public_ key. Even if it wasn't, we could try to brute force the entire nonce space... I wonder how long that would take to find your own nonce that decrypts.

[2020-02-17 20:51] boymanjor commented on #39
@cqcn1991 this is a node-gyp [error](https://github.com/nodejs/node-gyp/issues/2048). You either need to upgrade to node-gyp version v5.x and v6.x or downgrade to python v2.

[2020-02-17 20:57] boymanjor commented on #34
@josescasanova if your address is in [hs-tree-data](https://github.com/handshake-org/hs-tree-data/blob/master/proof.json), then it was removed from the airdrop tree, i.e. you do not need to use your ssh key to claim. You can claim by running:
[code]

[2020-02-17 21:43] josescasanova commented on #34
My original address shows the tokens there now! Thank you @boymanjor !!

[2020-02-17 21:43] #34 closed

[2020-02-18 00:23] boymanjor commented on #37
@imcda @daijiale yes, that message means your key was not included in the airdrop. I am closing this issue for now.

[2020-02-18 00:23] #37 closed

[2020-02-18 00:24] boymanjor commented on #32
@abrkn can we close this now?

[2020-02-18 00:25] boymanjor commented on #33
@jsappme did you receive any errors after running `npm install`?

[2020-02-18 00:26] boymanjor commented on #19
@pinheadmz can we close this now?

[2020-02-18 00:30] pinheadmz commented on #19
Nice.

[2020-02-18 00:30] #19 closed

[2020-02-18 00:38] boymanjor commented on #14
@tynes can we close this now?

[2020-02-18 00:45] boymanjor commented on #16
@markbosky you only need to have one or the other. I am going to close this issue for now.

[2020-02-18 00:45] #16 closed

[2020-02-18 00:46] boymanjor commented on #15
The airdrop is live on mainnet. I'm closing this now.

[2020-02-18 00:46] #15 closed

[2020-02-18 00:48] boymanjor commented on #6
The repo was private. It has since been open sourced, and the links work. I am closing this now.

[2020-02-18 00:48] #6 closed

[2020-02-18 00:49] boymanjor commented on #36
@cjb does @pinheadmz's response alleviate your issue?

[2020-02-18 00:57] #14 closed

[2020-02-18 01:34] cjb commented on #36
Yes!  That worked.  Thanks for the great answer.

[2020-02-18 01:34] #36 closed

[2020-02-18 05:11] leeduckgo opened #41 "Still on "Airdrop: waiting for more confirmations" after 24h"
as pic below
![image](https://user-images.githubusercontent.com/12784118/74705797-13b96580-5250-11ea-992d-566049f48983.png)

[2020-02-18 05:13] leeduckgo commented on #41
the fee is 0.01 as recommendation.

[2020-02-18 09:03] DeftMKJ commented on #33
@boymanjor when i npm install ,help me
`clang_bk: error: no such file or directory: 'Release/obj.target/goosig/src/goo/goo.o'
[&] parent
npm notice created a lockfile as package-lock.json. You should commit this file.
added 9 packages from 9 contributors and audited 18 packages in 41.873s
found 0 vulnerabilities`

[2020-02-18 09:04] DeftMKJ commented on #33
@boymanjor other errors
`[*] -lgmp
clang_bk: error: no such file or directory: 'Release/obj.target/bcrypto/src/torsion/src/dsa.o'
clang_bk: error: no such file or directory: 'Release/obj.target/bcrypto/src/torsion/src/ecc.o'
clang_bk: error: no such file or directory: 'Release/obj.target/bcrypto/src/torsion/src/rsa.o'
clang_bk: error: no such file or directory: 'Release/obj.target/bcrypto/src/secp

[2020-02-18 09:29] leeduckgo commented on #41
Got It, thx !

[2020-02-18 09:29] #41 closed

[2020-02-18 13:27] boymanjor commented on #40
@yuangezhizao can you try exporting your key in binary format, i.e. unarmored.

[2020-02-18 13:30] gaoyichuan commented on #40
I got an error says `Error: Unknown S2K function.` after export my seckey unarmored using GnuPG2, could you help?

[2020-02-18 13:34] boymanjor commented on #40
Alternatively, you can use a `.asc` extension on the armored file. It looks like `hs-airdrop` expects `.gpg` files to be in binary format, while armored files should have `.asc` extensions.

[2020-02-18 13:50] yuangezhizao commented on #40
@boymanjor It works，thanks a lot！
[code]
[code]
However, unfortunately my key was not found.
:joy:

[2020-02-18 13:50] #40 closed

[2020-02-18 14:02] fairchild88 opened #42 "key was not found"
when I execute

     ./bin/hs-airdrop ~/.ssh/id_rsa_github [addr] 0.010

I got follow error response

    Attempting to create proof.
    This may take a bit.
    Decrypting nonce...
    NonceError: Could not find nonce in bucket 58.
        at findNonces (/Users/Fei/AndroidStudioProjects/hs-airdrop/bin/hs-airdrop:275:17)
        at async createKeyProofs (/Users/Fei/AndroidStudioProjects/hs-airdro

[2020-02-18 14:05] boymanjor commented on #42
@fairchild88 your key was not included in the airdrop tree. The final snapshot of the tree was created in Feb. 2019. I'm sorry, there is nothing we can do to retroactively add you to the airdrop.

[2020-02-18 14:05] #42 closed

[2020-02-18 14:27] gaoyichuan opened #44 "Error: Unknown S2K function - Issue caused by exported to card gpg keys"
I have my PGP key moved to my yubikey. However I have the backup of my secret key.

When I use that key to get the airdrop, hs-airdrop gave an error:
[code]

After some quick search, I use `cat secring.gpg | gpg --list-packets | grep S2K` to check my key info, it gave:
[code]
And after patching the code, I found out the S2K algo number is 101

Any help please?

[2020-02-18 15:26] #38 closed

[2020-02-18 15:53] gaoyichuan commented on #44
I have figure it out! For somebody who has the same issue:

1. BACKUP YOUR SECRET KEY
2. Use `gpg --edit-key` command, add a new subkey to your main key, and set the usage to 'Sign'
3. Use `delkey` in key editor to remove all your subkeys which are in your smartcard
4. Export your secret key again, and get the airdrop

I believe this is a bug in this tool, so some fix is welcomed!

[2020-02-19 00:16] kiwibrowser commented on #31
The first part is easy, in bin/hs-airdrop, change

[code]

and it'll find the right bucket for the nonce.

However, you need to decrypt the nonce using your private key:
[code]

and this I have no clue how to do, because eventually it goes into goo_* specific decrypt functions, but if someone is smarter than me I'm interested :)

My guess is that it was RSA-OAEP but I can't figure out the proper O

[2020-02-19 00:17] kiwibrowser commented on #31
It's my first airdrop btw, I just look into the project because it's fun to learn, and because it wasn't working as in the docs (otherwise crypto is not my cup of tea at all)

[2020-02-19 02:25] heroxbd commented on #13
I met the same issue.

[2020-02-19 03:43] baebb commented on #35
I know had 15 followers before the snapshot and tried with a key registered on Github from 2017.

Still didn't work.

A tool for to look up what the snapshot has for my Github ID would be useful- saves me dicking around and digging up old computers for their SSH key

[2020-02-19 06:17] zh-h commented on #35
Oh no, I haven't authorized SSH before, so is my new generated one useless?

[2020-02-19 09:22] SgrAlpha opened #45 "Any plan to support ECDSA?"
I do have had 16 followers on GitHub on Feb 4, 2019 and have multiple SSH public keys linked to my account, but unfortunately they are all in `ecdsa-sha2-nistp521` type. I got the following error:

    at AirdropKey.fromSSH (/Volumes/development/github/hs-airdrop/lib/key.js:768:15)
    at Function.fromSSH (/Volumes/development/github/hs-airdrop/lib/key.js:882:23)
    at readKey (/Volumes/developme

[2020-02-19 10:43] amsimoes commented on #35
@zh-h If you didn't have a public ssh key, I don't know yet if there's a way to verify by your github id instead of the public ssh key matched to your profile. I think they only parsed by ssh and pgp keys...

[2020-02-19 11:55] windrunner414 commented on #35
I also did not have a ssh key...

[2020-02-19 12:17] Sprinter1999 opened #46 "I changed my ssh private key in 2/26, but I earned more than 30 followers then..."
Please, can I still get a chance to get the coin?

[2020-02-19 12:24] pinheadmz commented on #35
@amsimoes @windrunner414 No keys, no coins. Sorry but this is how the airdrop was designed.

[2020-02-19 12:50] kliuj opened #47 "new snapshot"
could you please create a new snapshot, please

[2020-02-19 12:51] pinheadmz commented on #47
The airdrop is consensus critical and would require a hard fork to alter in any way.

[2020-02-19 13:08] fire717 opened #48 "Error: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt"
mac os, when I run

./bin/hs-airdrop ...

got this:

Error: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt
    at Decipheriv.final (internal/crypto/cipher.js:172:29)
    at CipherBase.final (/Users/fire/Downloads/hs-airdrop/node_modules/bcrypto/lib/native/cipher.js:59:21)
    at Decipher.final (/Users/fire/Downloads/hs-airdrop/node_modules/bcrypto/lib/native/cipher.js:114

[2020-02-19 13:13] cevin commented on #45
same question.

ECDSA  is very popluar

[2020-02-19 13:35] tumayun commented on #48
me too

[2020-02-19 13:58] tumayun commented on #48
roc-Type: 4,ENCRYPTED
DEK-Info: AES-128-CBC

[2020-02-19 14:39] #47 closed

[2020-02-19 14:39] pinheadmz commented on #46
This is impossible without a hard fork.

[2020-02-19 14:39] #46 closed

[2020-02-19 14:50] pinheadmz commented on #32
@boymanjor I think we should leave this open until there is a fix in the code. I think future users will encounter this issue and find the workaround.

[2020-02-19 14:53] pinheadmz commented on #27
Unclear documentation closed by https://github.com/handshake-org/hs-airdrop/commit/cd90f42cf806dc4c037b03db5548cd14e3a5852a

- amount of airdrop
- hint about deleting hs-tree-data

@stephen304 feel free to add more comments if you have other issues, or reach out to us on IRC

[2020-02-19 14:53] #27 closed

[2020-02-19 14:53] #24 closed

[2020-02-19 14:54] #2 closed

[2020-02-19 15:00] pinheadmz commented on #45
From [the README](https://github.com/handshake-org/hs-airdrop#accepted-key-algorithms):

Because this is consensus-critical, changes to the airdrop tree or proof methods can not be changed without a hard fork. If it means enough to you, you could write a software patch and try to get the community to adopt it and initiate a hard fork. Sorry about this. Closing for now.

[2020-02-19 15:00] #45 closed

[2020-02-19 15:03] pinheadmz commented on #31
@kiwibrowser thank you for your patience and interest!
If you are able to complete an airdrop proof with secure hardware, it would be massively helpful to have a guide or gist or readme or blog post or something to help future users with the same issue.

Please let us know if you are able to figure it out, or have any other questions.

[2020-02-19 15:07] pinheadmz commented on #44
Thank you @gaoyichuan !

I'm going to close this issue for now, and change the title so future users with the same issue can find it easily.

[2020-02-19 15:10] pinheadmz commented on #44
Sorry @gaoyichuan - are you saying there is a bug here? Are we using the wrong algo number for something?

[2020-02-19 15:55] pinheadmz commented on #48
Looks like the nodejs crypto module can't decrypt your SSH key with the passphrase provided.

This might be hard to debug -- what version of nodejs are you running?

[2020-02-19 16:44] stephen304 commented on #27
@pinheadmz Was the `Response exceeded limit` error fixed? That was the most confusing roadblock I hit when trying to use it. Also it would be good to mention how much the default fee is.

[2020-02-19 17:50] shankerwangmiao commented on #44
@pinheadmz For those who have one or more of their subkeys exported to smart cards, those subkeys will have a S2K algo number of 101, and at https://github.com/bcoin-org/bcrypto/blob/76266c9e3b8119f99eb5d69a196e9163de5c332d/lib/pgp.js#L1504 `getSize()` will fail since 101 falls out of those three cases.

[2020-02-19 17:52] shankerwangmiao commented on #44
My suggestion is to skip that pgp packet when it cannot be processed, at https://github.com/bcoin-org/bcrypto/blob/76266c9e3b8119f99eb5d69a196e9163de5c332d/lib/pgp.js#L277

[2020-02-19 17:59] pinheadmz commented on #44
Ah ok thanks. Gonna ping @chjj here to see if this is a viable solution.

[2020-02-19 18:30] chjj commented on #44
I'd prefer not to skip it (I think that may break other things). I'm trying to find some information on this now. It looks like `101` a GNU extension for key derivation. I'll try to push a fix soon.

[2020-02-19 19:26] pinheadmz commented on #27
@stephen304 can you check you have the latest version of `hs-airdrop`?

Specifically check this line:

https://github.com/handshake-org/hs-airdrop/blob/ccc42fe7c29d465d0eef51bd0f3e2f49946cdc15/bin/hs-airdrop#L127

[2020-02-19 20:03] stephen304 commented on #27
@pinheadmz Ah, looks like boymanjor fixed it a few days after I created this ticket.

[2020-02-19 21:58] carsenk commented on #31
So does anyone have any instructions at all on how to actually sign the raw data for the hs-airdrop with a Yubikey? Trying just the exported secret key stub returns an "Unknown S2K Function"

[2020-02-19 22:45] carsenk commented on #44
I still get the S2K error even after removing all subkeys, creating a new DSA Sign subkey and then re-exporting the secret key, still gives a "Unknown S2K function" error.

[2020-02-20 00:56] fire717 commented on #48
I sovled this by input correct passphase….which I just input Enter before.

The error info is just a little misleading.

[2020-02-20 01:03] liesauer opened #49 "Could not find nonce in bucket xxx"
1. i am sure i have had >=15 followers on GitHub on Feb 4, 2019
2. i am sure i have three SSH public keys associated with my account and never changed.

i tried three of my keys, but still got the same error.

![image](https://user-images.githubusercontent.com/8676741/74890702-cd831400-53bf-11ea-910e-40d0b38d04b4.png)

[2020-02-20 01:14] liesauer commented on #49
The final snapshot of the tree was created in Feb. 2019. i have two keys are definitely required.

[2020-02-20 02:52] chjj commented on #44
The current master branch of bcrypto has the fix, but I unfortunately don't have a test vector. I might have to dig around the gnupg repo a bit.

[2020-02-20 02:53] ucfyao opened #50 "errors.claimNot NamebaseAddr"
when submit the base64 code,tips:errors.claimNotNamebaseAddr

[2020-02-20 03:00] pinheadmz commented on #50
This is not Namebase customer support.

[2020-02-20 03:00] #50 closed

[2020-02-20 03:03] ripzery commented on #49
There's ongoing issue here https://github.com/handshake-org/hs-airdrop/issues/35

[2020-02-20 03:06] ucfyao commented on #50
![image](https://user-images.githubusercontent.com/11612671/74897093-f65fd500-53d0-11ea-9a95-68fa87cb1448.png)

[2020-02-20 03:06] ucfyao commented on #50
Who can solve this problem？

[2020-02-20 03:08] pinheadmz commented on #50
This is not Namebase customer support!

[2020-02-20 03:34] liesauer commented on #49
😞so, no reason? just "missing data"? or can i say that is a design fault of HNS?  actually i have claimed lots of airdrops, including keybase XLM. this one is....ummm...

[2020-02-20 03:50] carsenk commented on #44
@chjj I updated to your latest bcrypto code, it does get rid of the S2K function error, but now I am getting this error:

`Error: Unknown cipher type.`

[2020-02-20 03:52] pinheadmz commented on #49
#35 was locked because users did not qualify for the airdrop, so it's not an issue, and users were proposing hard forks to add new keys to the airdrop tree, which is off-topic.

This type of case where it seems a user DOES qualify is new, so it will stay open as long as the comments stay on-topic.

I'm not sure the best way to debug, please be patient.

In the meantime @liesauer please make sure y

[2020-02-20 03:54] liudongmiao commented on #41
https://github.com/handshake-org/hs-airdrop/issues/41#issue-566650943

[2020-02-20 05:02] pjmike opened #51 "Error: TypeError: stdin.setRawMode is not a function"
Hi, when I run the command:  `./bin/hs-airdrop <path to key> <address> <fee>`  ，it give me the error:

TypeError: stdin.setRawMode is not a function
    at readLine (F:\hs-airdrop\lib\readline.js:17:9)
    at readPassphrase (F:\hs-airdrop\lib\readline.js:92:10)
    at readKey (F:\hs-airdrop\bin\hs-airdrop:535:32)

[2020-02-20 05:03] shankerwangmiao commented on #31
@carsenk For gpg keys, if your master key is stored in a hardware key, it seems that there is no way to claim currently. Otherwise, you can export the master key and use this tool normally.

[2020-02-20 05:08] shankerwangmiao commented on #31
@pinheadmz I wonder if claiming the airdrop requires not only signing some data but also decrypting. If so, since for secure hardwares, the usage of a private key is limited, there would be no way to claim the airdrop using secure hardwares.

[2020-02-20 05:08] Lmy0217 commented on #50
@ucfyao I use lastest wallet address and fix this problem.

[2020-02-20 05:10] tmcc-h commented on #48
@fire717 Still not work, I have not set any passphase before, just Enter ... Enter.

[2020-02-20 05:18] pinheadmz commented on #51
What operating system?
What version of nodejs?

[2020-02-20 05:19] pinheadmz commented on #51
Is this relevant?

https://github.com/workshopper/stream-adventure/issues/171#issuecomment-202203709

[2020-02-20 05:22] pjmike commented on #51
**system**: window 10
**node**: v10.15.0
**npm**: v6.4.1
**Command line tool**:  git bash

[2020-02-20 05:58] zhanwen opened #52 "Error: Request timed out."
![image](https://user-images.githubusercontent.com/11382789/74905459-3337c600-53e9-11ea-89c0-dcb2a86cc9e1.png)

Passphrase: If use github login, passphrase input github password?

[2020-02-20 05:58] carsenk commented on #31
@shankerwangmiao It is stored on it, though I was able to export it, unless its just a stub of the secret key? I was looking at https://github.com/handshake-org/hs-airdrop/issues/44 and seemed to get a bit further without the Unknown S2K function but still getting an error....I feel this would pose a major problem for a majority of those trying to claim the airdrop as most use a smartcard for thei

[2020-02-20 05:59] foolcage opened #53 "Error: connect ECONNREFUSED 151.101.228.133:443"
Passphrase:
Attempting to create proof.
This may take a bit.
Decrypting nonce...
Downloading: https://github.com/handshake-org/hs-tree-data/raw/master/nonces/019.bin...
Error: connect ECONNREFUSED 151.101.228.133:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1136:16)

[2020-02-20 06:01] shankerwangmiao commented on #31
@carsenk A stub won't work. It needs the private key itself.

[2020-02-20 06:01] carsenk commented on #52
Passphrase would be your SSH or GPG key password, not your Github password.

[2020-02-20 06:02] wobiancao commented on #51
me too.

[2020-02-20 06:03] carsenk commented on #31
So I exported the secret key (private GPG key) from my Yubikey, but from what I understand it will not accept it if it has subkeys except for one subkey with Signing permission?

[2020-02-20 06:06] zhanwen commented on #52
@carsenk thanks, i try

[2020-02-20 06:08] KireinaHoro opened #54 "Key inside PGP WOT not working for airdrop"
I'm holding a key in PGP WOT as of 2018, but still getting the `NonceError: Could not find nonce in bucket 38.` error.  Can't post the exact key ID out due to possible personal information leak, but I can confirm at least 3 valid paths from 8b962943fc243f3c.

The tool claims that it has successfully decrypted the key but failed to find a corresponding nonce.

Any ideas?

[2020-02-20 06:10] shankerwangmiao commented on #31
@carsenk Only the master private key is needed. So you need to verify which private key is on your Yubikey, a subkey or the master key. If your master key is on your Yubikey,  there is no way to export it from your Yubikey and it seems that currently we have no method to claim the airdrop. If not, you can follow what is discussed in #44.

[2020-02-20 06:10] aQuaYi commented on #53
the same with you
I just added ssh key 10 minitue ago.

[2020-02-20 06:11] zhanwen commented on #52
@carsenk not true ：）

[2020-02-20 06:19] yangqihua commented on #53
run command `git clone https://gitee.com/shidenggui/hs-tree-data.git ~/.hs-tree-data`
then run `./bin/hs-airdrop path of key <address> <fee>`

[2020-02-20 06:21] liesauer commented on #49
@pinheadmz yes, i clone the latest code, my ubuntu node is v12 and v10.15 on my imac, and i just upgraded to v12 a few minutes ago, still got the same error.

[2020-02-20 06:23] xiekeyi98 opened #55 "The provided claim is not valid. If you believe this is in error, please contact airdrops@namebase.io!"
The provided claim is not valid. If you believe this is in error, please contact airdrops@namebase.io!

What can I do for this?

[2020-02-20 06:24] zhanwen commented on #52
This is network problem, now i download tree.bin, i should move folder?  `node_modules\brq\`?

[2020-02-20 06:26] liesauer commented on #49
![image](https://user-images.githubusercontent.com/8676741/74906742-d9d19600-53ec-11ea-8f7b-62ffea92ff4c.png)

[2020-02-20 06:27] aQuaYi commented on #53
sad

[2020-02-20 06:29] carsenk commented on #52
Passphrase is definitely your SSH/GPG key. It is not your Github password.

It does seem like a network issue in your case, double check you can ping/connect to github.com

[2020-02-20 06:33] zhanwen commented on #52
@carsenk yeah, you are right.  now i manual download tree.bin，which folder to put it in? i browse `request.js:376:19` not find path.

[2020-02-20 06:34] cuitianze commented on #49
i got the same error

[2020-02-20 06:39] xiekeyi98 commented on #55
![image](https://user-images.githubusercontent.com/7782671/74907635-c293a800-53ee-11ea-894f-bf4ca5b0c789.png)

[2020-02-20 06:56] xuhaodong opened #56 "read ECONNRESET"
Error: read ECONNRESET
    at exports._errnoException (util.js:1024:11)
    at TLSWrap.onread (net.js:610:25)

[2020-02-20 08:08] hantmac opened #57 "Client network socket disconnected before secure TLS connection was established"
When I exec `./bin/hs-airdrop ~/.ssh/id_rsa` < address> I got the error like this:

Passphrase:
Attempting to create proof.
This may take a bit.
Decrypting nonce...
Downloading: https://github.com/handshake-org/hs-tree-data/raw/master/nonces/111.bin...
Error: Client network socket disconnected before secure TLS connection was established
    at TLSSocket.onConnectEnd (_tls_wrap.js:1084:19)
    at

[2020-02-20 08:11] #52 closed

[2020-02-20 08:53] devSC commented on #49
me too.

[2020-02-20 08:55] fsgmhoward commented on #49
Same error happens for me (and some of my friends who are eligible for this airdrop also), though I was using PGP key.

[My PGP key](https://api.github.com/users/fsgmhoward/gpg_keys) has been added to my Github account on Sep 15, 2017 and has never been changed since then. I have some commits (e.g. [this one](https://github.com/fsgmhoward/shadowsocks-py-mu/commit/6cc8692c8c93c0a091874aa56c80ecd97d

[2020-02-20 09:39] fygethub opened #58 "errors.claimNotNamebaseAddr"
https://www.namebase.io says

errors.claimNotNamebaseAddr

[2020-02-20 09:49] sunbo opened #59 "Is the airdrop over?"

[2020-02-20 12:14] Han-MeiM commented on #59
![image](https://user-images.githubusercontent.com/27951114/74932759-8a578e00-541d-11ea-958a-2bed605d9579.png)
Does this mean it's over?

[2020-02-20 12:16] pinheadmz commented on #58
This is not Namebase customer support.

[2020-02-20 12:16] #58 closed

[2020-02-20 12:19] pinheadmz commented on #59
Users can claim their airdrop at any time, forever. The list of qualified users is permanent and was committed just before mainnet launch. If you have any questions about anything you see on Namebase, please contact support on their website.

[2020-02-20 12:19] #59 closed

[2020-02-20 12:21] pinheadmz commented on #57
Something just went wrong while downloading the tree data. Can you try again? If it doesn't work you can manually clone handshake-org/hs-tree-data to your home directory at `~/.hs-tree-data` and re run the script.

[2020-02-20 12:23] pinheadmz commented on #56
There is not enough context here to help you. Can you provide any more details?

[2020-02-20 12:23] pinheadmz commented on #55
This is not Namebase support.

[2020-02-20 12:23] #55 closed

[2020-02-20 12:25] pinheadmz commented on #53
This error seems to be frequent and might just be a temporary issue with GitHub availability. @foolcage did this work out for you?

[2020-02-20 12:57] riobard opened #60 "How to generate proof on air-gapped machines?"
The README mentioned the possibility to do so without any further details. Where do I start?

Alternatively, I can run `bin/hs-airdrop` on air-gapped machines but it requires network access to download nonces from https://github.com/handshake-org/hs-tree-data/raw/master/nonces/ so it's not possible.

A simple fix is to provide a way to download all required nonces and copy to the air-gapped machin

[2020-02-20 13:03] ychow opened #61 "PEM parse error(unexpected data)"
![image](https://user-images.githubusercontent.com/6530996/74935999-4a47d980-5424-11ea-9bd0-4f34d4c1e3f7.png)
Anyone knows how to solve this problem?

[2020-02-20 13:03] pinheadmz commented on #60
Download all nonces:

`git clone https://github.com/handshake-org/hs-tree-data ~/.hs-tree-data`

[2020-02-20 13:12] pinheadmz commented on #61
The tool expects a private key, not a public key.

[2020-02-20 13:12] riobard commented on #60
It doesn't work.

[code]

[2020-02-20 13:14] elunez commented on #51
me too.

[code]
![image](https://user-images.githubusercontent.com/42142420/74936861-deff0700-5425-11ea-9077-2d8450d7b830.png)

[2020-02-20 13:15] #61 closed

[2020-02-20 13:16] pinheadmz commented on #60
It might vary for your operating system:

https://github.com/handshake-org/hs-airdrop/blob/ccc42fe7c29d465d0eef51bd0f3e2f49946cdc15/bin/hs-airdrop#L38

[2020-02-20 13:45] riobard commented on #60
Oops my bad. Screwed up with user account when sudo.

[2020-02-20 13:45] #60 closed

[2020-02-20 13:46] tuxcanfly commented on #51
Can you try `node bin/hs-airdrop <path to key> <address> <fee>` ?

[2020-02-20 13:47] xiekeyi98 commented on #55
I'm very sorry for trouble this repo and file the issue with wrong way...

[2020-02-20 14:01] elunez commented on #51
it still gives an error：
[code]

[2020-02-20 14:02] tuxcanfly commented on #51
You need to do this from within the `hs-airdrop` directory.

[2020-02-20 14:02] wobiancao commented on #51
good .

but my key not in airdrop...sad

[2020-02-20 14:10] elunez commented on #51
What is Passphrase

![image](https://user-images.githubusercontent.com/42142420/74941314-c5fa5400-542d-11ea-8448-cbd0b6b6b6c1.png)

[2020-02-20 14:12] tuxcanfly commented on #51
That's your SSH key passphrase, if you've set one, otherwise just skip by pressing `<Enter>`

[2020-02-20 14:14] pjmike commented on #51
Thank you ，the solution is great .

[2020-02-20 14:16] pinheadmz commented on #51
Thanks for your help @tuxcanfly! Going to close this for now, problem solved.

[2020-02-20 14:16] #51 closed

[2020-02-20 15:16] boymanjor commented on #49
It is worth noting that only the top 3 most popular [key algorithms](https://github.com/handshake-org/hs-airdrop#accepted-key-algorithms) used on GitHub were accepted. N.b. the RSA modulus and exponent size restrictions. If you have tried all of your acceptable SSH and/or PGP keys, and you still receive the error, you were probably not included in the airdrop tree. I'm not sure why, but there is n

[2020-02-20 15:18] boymanjor commented on #54
Have you checked out the list of acceptable [key algorithms](https://github.com/handshake-org/hs-airdrop#accepted-key-algorithms)?

[2020-02-20 15:25] boymanjor commented on #33
@DeftMKJ could you copy and paste your build log here? Also what os, node.js, and node-gyp versions are you using?

[2020-02-20 15:47] liesauer commented on #49
ummm...okkk...sounds reasonable...

[2020-02-20 16:04] KireinaHoro commented on #54
Absolutely.  The master key is rsa4096.

2020年2月20日(木) 23:18 Boyma <notifications@github.com>:

[2020-02-20 16:57] foolcage commented on #53
it's ok. I just clone the hs-tree-data directly and -d the path.

just as @yangqihua comment.

[2020-02-20 17:02] #53 closed

[2020-02-20 17:06] KireinaHoro commented on #54
Just verified that e=33, so this should be a valid key...

2020年2月21日(金) 0:03 Pengcheng Xu <xubin990510@gmail.com>:

[2020-02-20 17:27] pinheadmz commented on #54
Let's ping @chjj here, I'm not exactly sure what the web-of-trust airdrop qualifications were in the final snapshot.

[2020-02-20 17:39] Rinacm opened #62 "Invalid file or disk full: cannot seek to 0x3E3938 [E:\airdrop\node_modules\bcrypto\build\bcrypto.vscproj]"
[code]
when I'm trying to run the comman `npm install` these message appeared, seems there's some file losing, how can I deal with this (the msvs_version was set to 2019 and the npm version is 6.10.3)

[2020-02-20 17:49] boymanjor commented on #62
@Rinacm this doesn't look like an error with `hs-airdrop`. I think it is a Visual Studio [error](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1106?view=vs-2019)

Source: https://github.com/nodejs/node-gyp/issues/1898#issuecomment-540116440

[2020-02-20 18:33] leeseean opened #63 "last step meets error"
TypeError: stdin.setRawMode is not a function
    at readLine (C:\Users\Administrator\Desktop\hs-airdrop\lib\readline.js:17:9)
    at readPassphrase (C:\Users\Administrator\Desktop\hs-airdrop\lib\readline.js:92:10)
    at readKey (C:\Users\Administrator\Desktop\hs-airdrop\bin\hs-airdrop:535:32)
    at async parseArgs (C:\Users\Administrator\Desktop\hs-airdrop\bin\hs-airdrop:714:21)
    at async ma

[2020-02-20 18:41] boymanjor commented on #63
A similar issue has been resolved here: https://github.com/handshake-org/hs-airdrop/issues/51. I'm closing this for now. Feel free to reopen if that thread does not solve your issue.

[2020-02-20 18:41] #63 closed

[2020-02-20 19:21] ganler opened #64 "don't have GPG key, but have ssh key"
this is my ssh key date
![image](https://user-images.githubusercontent.com/38074777/74970051-afb5bd80-5458-11ea-9670-1c5ca5bc7ca3.png)

this is my followers
![image](https://user-images.githubusercontent.com/38074777/74970138-d116a980-5458-11ea-9621-8030446dc492.png)

![image](https://user-images.githubusercontent.com/38074777/74970388-3f5b6c00-5459-11ea-8fe6-a80be7b219a2.png)

[2020-02-20 19:48] pinheadmz commented on #64
What type of key is it?

https://github.com/handshake-org/hs-airdrop#accepted-key-algorithms

[2020-02-21 01:44] AnnAngela opened #65 "Error: EISDIR: illegal operation on a directory, read"
I got error messages in both Windows 10 and Ubuntu 18.04:
`Error: EISDIR: illegal operation on a directory, read`
It appeared as soon as I pressed the ENTER key for running `./bin/hs-airdrop`. I already used admin and root privileges.
What's wrong?

[2020-02-21 01:50] leeseean opened #66 "why,I have 19 followers"
.bin...
NonceError: Could not find nonce in bucket 194.
    at findNonces (C:\Users\Administrator\Desktop\hs-airdrop\bin\hs-airdrop:275:
17)
    at async createKeyProofs (C:\Users\Administrator\Desktop\hs-airdrop\bin\hs-a
irdrop:328:17)
    at async main (C:\Users\Administrator\Desktop\hs-airdrop\bin\hs-airdrop:746:
8)

This means your key was not found in the airdrop tree.
If you registered at ha

[2020-02-21 01:54] AnnAngela commented on #65
Oh, I found that if I type `~/.ssh/id_rsa` instead of `~/.ssh` that it worked, did the doc ( https://www.namebase.io/airdrop ) wrong?

[2020-02-21 02:09] #56 closed

[2020-02-21 02:51] #65 closed

[2020-02-21 02:54] pinheadmz commented on #66
https://github.com/handshake-org/hs-airdrop/issues/35#issuecomment-586699876

Maybe you didn't have followers and a valid key at the time of the snapshot.

[2020-02-21 02:54] #66 closed

[2020-02-21 04:57] zhoujingchao commented on #48
so? how to get passphase? I have the same problem!

[2020-02-21 04:59] pinheadmz commented on #48
It's the passphrase for your encrypted private key.

[2020-02-21 05:03] tmcc-h commented on #48
Checked those links, error info was changed, but still not work.
https://lifesaver.codes/answer/crypto-bad-decrypt
https://github.com/nodejs/node/issues/2794

[2020-02-21 05:46] razerdp opened #67 "why the base64 code is not valid"
I successfully generated base64, but the website prompts me that this is an incorrect code

![image](https://user-images.githubusercontent.com/11629986/75007557-7a3cbe80-54b0-11ea-8d0a-cdb9fcec2979.png)

![image](https://user-images.githubusercontent.com/11629986/75007566-8759ad80-54b0-11ea-88a7-a7fb50903699.png)

[2020-02-21 05:48] #67 closed

[2020-02-21 05:49] leeseean commented on #66
what is the time of the snapshot?

[2020-02-21 05:58] AbbyJM opened #68 "NonceError: Could not find nonce in bucket"
I have 17followers and added my ssh key last yeaer.

[2020-02-21 06:03] BlankerL opened #69 "When shall the key be added into my GitHub account?"
As you can see, I have more than 100 followers on GitHub and most of them started following me before Feb 9, 2019.

<img width="756" alt="image" src="https://user-images.githubusercontent.com/24969376/75008286-9f323100-54b2-11ea-8111-0f35db3afde6.png">

The image above shows that my oldest key was generated on Sep 14, 2019, and this one is not working either.

I suppose most people will change the

[2020-02-21 06:09] BlankerL commented on #69
[Here](https://github.com/handshake-org/hs-airdrop/issues/35#issuecomment-586699876) was mentioned that the public key was crawled 5 months ago.

It is about five months from September 14, 2019, so am I just missing it?

[2020-02-21 11:05] boyXiong opened #70 "not found: _mpn_zero_p, not run"
dyld: lazy symbol binding failed: Symbol not found: _mpn_zero_p
  Referenced from: /hs-airdrop/node_modules/bcrypto/build/Release/bcrypto.node
  Expected in: flat namespace

dyld: Symbol not found: _mpn_zero_p
  Referenced from: /hs-airdrop/node_modules/bcrypto/build/Release/bcrypto.node
  Expected in: flat namespace

[2020-02-21 11:16] zhouzihanntu commented on #48
Same problem, haven't set any passphrase.

[2020-02-21 12:08] yyy999 opened #71 "SyntaxError: Unexpected token function"
/home/sky/hs-airdrop/bin/hs-airdrop:109
async function readFile(...path) {
      ^^^^^^^^

SyntaxError: Unexpected token function
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:446:12)
    at Function

[2020-02-21 12:10] pinheadmz commented on #66
Feb 2019. Lots of details in the comment I linked to above.

[2020-02-21 12:14] pinheadmz commented on #48
@tmcc-h interesting. Thank you. Would you be able to open a pull request to incorporate this fix?

[2020-02-21 12:19] pinheadmz commented on #71
Can you provide more context please? What command resulted in this error? What is your OS and nodejs version? Were there any issues during installation?

[2020-02-21 12:21] pinheadmz commented on #70
Try `npm rebuild` and report back any errors you see during compilation.

[2020-02-21 12:23] pinheadmz commented on #69
The snapshot is from Feb 2019. Did you have a key on GitHub at that time?

[2020-02-21 12:25] pinheadmz commented on #68
Did you have followers and a key posted by Feb 2019? That's when the snapshot was made. In addition only the most popular key algorithms were accepted. See the README.

[2020-02-21 12:25] pinheadmz commented on #68
And see https://github.com/handshake-org/hs-airdrop/issues/35#issuecomment-586699876

[2020-02-21 13:31] boyXiong commented on #70
I try npm rebuild ,but  not run.
no error, only wring.
n file included from ../src/secp256k1/src/secp256k1.c:14:
../src/secp256k1/src/ecmult_impl.h:669:12: warning: unused function 'secp256k1_ecmult_strauss_batch_single'
      [-Wunused-function]
static int secp256k1_ecmult_strauss_batch_single(const secp256k1_ecmult_context *actx, secp256k1_scratch *scratch, sec...
           ^
../src/secp256k1/s

[2020-02-21 13:37] boyXiong commented on #70
Still can't run

./hs-airdrop -h
dyld: lazy symbol binding failed: Symbol not found: _mpn_zero_p
  Referenced from:/hs-airdrop/node_modules/bcrypto/build/Release/bcrypto.node
  Expected in: flat namespace

dyld: Symbol not found: _mpn_zero_p
  Referenced from:/hs-airdrop/node_modules/bcrypto/build/Release/bcrypto.node
  Expected in: flat namespace

Abort trap: 6

[2020-02-21 14:02] pinheadmz commented on #70
what's your OS and nodejs version?

[2020-02-21 14:03] pinheadmz commented on #70
Are you using the latest version of hs-airdrop? You may need to `rm -rf node_modules` before rebuilding

[2020-02-21 14:10] deadwind4 commented on #70
https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13/47401866#47401866

[2020-02-21 14:17] recolic opened #72 "What's the meaning of argument "-f""
I saw an argument in `bin/hs-airdrop`:

[code]

If I run `hs-airdrop ~/.gnupg/secring.gpg 0x12345678 hs1q5z7yyk8xrh4quqg3kw498ngy7hnd4sruqyxnxd -f 0.5`, will I get `4246 * 0.5 = 2123` HNS, or `4246 - 0.5 = 4245.5` HNS?

I tried `hs-airdrop ~/.gnupg/secring.gpg 0x12345678 hs1q5z7yyk8xrh4quqg3kw498ngy7hnd4sruqyxnxd -f 1.5`, and it succeeds. I broadcasted this transaction successfully, but I can not

[2020-02-21 14:37] pinheadmz commented on #72
The fee is deducted from your airdrop amount, like a Bitcoin transaction. Do not trust block explorers. In particular, hnscan dies correctly show airdrop proofs in the mempool. Miners only add ten airdrops per block and it might take a while to be confirmed. If you were able to create and send your proof without errors, you're probably fine. Just be patient.

[2020-02-21 14:45] recolic commented on #72
The question is, what's the meaning of -f argument... I know it's transaction fee, but I'm not sure if it's a percentage, a factor (by 1), or a immediate value.

For example, I pay 4000 HNS with argument "-f 1.5". then what's the amount of transaction fee?

[2020-02-21 14:49] pinheadmz commented on #72
It's a flat fee expressed in HNS. Would you mind opening a PR to the README if you think you could make the experience better for future users?

[2020-02-21 14:51] pinheadmz commented on #72
https://github.com/handshake-org/hsd/blob/f628a003a0a74b60fe794859536b04d519c06f40/lib/primitives/airdropproof.js#L276

[2020-02-21 14:55] recolic commented on #72
I got it. thanks.

will open a PR soon to make it clear...

[2020-02-21 15:00] BlankerL commented on #69
Yes, but I updated and removed them almost once a year, and they are deleted from my computer. Thank you so much.

[2020-02-21 15:02] #69 closed

[2020-02-21 15:03] #68 closed

[2020-02-21 15:38] OneCodeMonkey commented on #33
facing the same problem :(

[2020-02-21 16:08] OneCodeMonkey opened #74 "【Error】Could not locate the bindings file. Tried:"
I am following the official steps and when I tried:

$ >> ./bin/hs-airdrop {key-path} {my hns-src} 0.01

print Error:
`
Could not locate the bindings file. Tried:

- /home/vagrant/Code/hs-airdrop/node_modules/bcrypto/build/bcrypto.node                                                            - /home/vagrant/Code/hs-airdrop/node_modules/bcrypto/build/Debug/bcrypto.node

[2020-02-21 17:39] tumayun commented on #48
Please [check](https://security.stackexchange.com/questions/129724/how-to-check-if-an-ssh-private-key-has-passphrase-or-not) if your ssh key has a password

[2020-02-21 18:25] JixiangGao opened #75 "Connection Error"
I have clone the `hs-tree-data` and download the data, but it still raise connection error.

[code]

[2020-02-21 18:32] JixiangGao commented on #75
.hs-tree-data should be in root_dir not in hs-airdrop dir.
Solved it.

[2020-02-21 18:32] #75 closed

[2020-02-21 19:51] chjj commented on #48
@tmcc-h, I was not aware any platforms used something other than pkcs padding. OpenSSH uses pkcs padding for encrypting private keys.

Did that fix work for you? If so, what SSH implementation did you use to generate/encrypt your key?

[2020-02-22 02:06] KireinaHoro commented on #54
Any updates?

[2020-02-22 03:50] hantmac commented on #57
Thanks for your reply and I have solve this problem by retrying.

[2020-02-22 03:50] #57 closed

[2020-02-22 03:52] stomakun opened #78 "Reported scam"
![image](https://user-images.githubusercontent.com/4496681/75085972-c1d35100-5569-11ea-8b5d-aa9d89efb073.png)

[2020-02-22 03:57] #70 closed

[2020-02-22 04:47] boyXiong commented on #49
me too. so sad.

[2020-02-22 05:21] chjj commented on #78
Not sure where you're getting this, but you're incorrect. If software which utilizes SSH private keys for proof creation violates github's policies, then both openssh and git violate github's policies as well. If you have any evidence of a "security breach", you should post it. This issue will be closed until then (i.e. forever).

[2020-02-22 05:21] #78 closed

[2020-02-22 06:22] YanB25 commented on #70
Please reopen this issue since I  meet the same error.

OS Version: CentOs7
node version: v12.16.1
npm version: v6.13.4

[code]
And, yes, I'm using the hs-airdrop in the master branch.

[code]
There's no error running `npm rebuild` and I copy the warning above.

[2020-02-22 06:35] leezp opened #79 "problem"
![image](https://user-images.githubusercontent.com/16287528/75087838-44670b00-5580-11ea-83d4-1e73598e9b4b.png)

i am using root privilege

but canot npm install ,and there is not dir   .node-gyp .

need help

env

![image](https://user-images.githubusercontent.com/16287528/75087863-842df280-5580-11ea-9fa1-9d73624c799c.png)

[2020-02-22 07:29] boyXiong commented on #70
I'm Mac OS
My solution： https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13/47401866#47401866

remove  node_modules and  npm install .

[2020-02-22 09:20] whitespur commented on #49
me too.

[2020-02-22 11:05] zhuhang-jasper opened #80 "Error: Invalid PGP key id/fingerprint."
Hi,

I have GPG both private & public keys, but i get this error.
`Error: Invalid PGP key id/fingerprint.`

Any tips on how to export the GPG in specific way that works?
I tried:
`gpg --output public.pgp --armor --export username@email`
`gpg --output private.pgp --armor --export-secret-key username@email`
I also tried secring.gpg and the same error.

My key in git bash:
[code]

![image](https://us

[2020-02-22 11:13] mxito3 commented on #74
+1

[2020-02-22 13:15] pinheadmz commented on #80
What command are you using for `hs-airdrop`?

From the README:

[2020-02-22 13:17] pinheadmz commented on #79
nodejs version 10 is required at a minimum. Please upgrade node and let me know if this fixes your problem,

[2020-02-22 13:20] Azard commented on #49
me too.

[2020-02-22 13:24] zhuhang-jasper commented on #80
(im on windows CMD, so i use node)
`node hs-airdrop C:\Users\zhuha\.gnupg\private.asc  my_address -f 0.01`
Ahhh, i missed the key ID, alright thanks for the reminder.

[2020-02-22 14:56] mxito3 commented on #49
feel pity.

[2020-02-22 15:29] archessay commented on #79
QQ: 631521383, I can help you.

[2020-02-22 15:40] liubo404 commented on #49
me too.
1.i am sure i have had >=15 followers on GitHub on Feb 4, 2019
2.i am sure i have three SSH public keys associated with my account and never changed.

`Attempting to create proof.
This may take a bit.
Decrypting nonce...
NonceError: Could not find nonce in bucket 230.
    at findNonces (/Users/liubo/tmp/hs-airdrop/bin/hs-airdrop:275:17)
    at async createKeyProofs (/Users/liubo/tmp/hs-air

[2020-02-22 16:12] #80 closed

[2020-02-22 16:41] boymanjor commented on #49
If `hs-airdrop` does not find a nonce, your key is not in the airdrop tree, and you will not receive any coins. Unfortunately, there is nothing we can do about it.

[2020-02-22 16:44] boymanjor commented on #49
We already have another one of these threads open here: https://github.com/handshake-org/hs-airdrop/issues/35, so I'm going to close this one.

[2020-02-22 16:57] liesauer opened #81 "what is going on?"
so u gays just leave the issue open and lock the issue. and saying the bullshit "We have another one of these threads open here: #35", if u want us shut up, just speak it out!

[2020-02-22 17:24] pinheadmz commented on #81
You are being rude. You will be banned from contributing to this organization.
Issues are not a place to complain about not qualifying for free cryptocurrency giveaways. It is only a place to report bugs or problems with the open source software the community is building.

[2020-02-22 17:24] #81 closed

[2020-02-22 17:33] 526710585 commented on #56
I had the same problem

`
Passphrase:
Attempting to create proof.
This may take a bit.
Decrypting nonce...
Downloading: https://github.com/handshake-org/hs-tree-data/raw/master/nonces/082.bin...
Error: read ECONNRESET
    at TLSWrap.onread (net.js:659:25)
`

[2020-02-22 17:37] boymanjor commented on #74
@OneCodeMonkey what OS and version of Node.js are you running?

[2020-02-22 17:46] 526710585 opened #82 "Error: connect ETIMEDOUT 151.101.228.133:443"
i input code

then cmd  asked me Passphrase , and i I skipped it;
![Snipaste_2020-02-23_01-40-25](https://user-images.githubusercontent.com/46254079/75096773-d81af480-55dd-11ea-9afa-bdf94e57c352.png)

then:
![Snipaste_2020-02-23_01-44-53](https://user-images.githubusercontent.com/46254079/75096804-23cd9e00-55de-11ea-93f3-3b5e62836ed7.png)

What should I do??

[2020-02-22 17:52] 526710585 commented on #82
And sometimes it comes up
![Snipaste_2020-02-23_01-50-03](https://user-images.githubusercontent.com/46254079/75096868-da318300-55de-11ea-9fe3-fe16fb50513b.png)

node:10.0.0
OS:win10

[2020-02-22 17:54] pinheadmz commented on #82
See https://github.com/handshake-org/hs-airdrop/issues/57#issuecomment-588994260

[2020-02-22 18:17] pinheadmz commented on #56
please see https://github.com/handshake-org/hs-airdrop/issues/57#issuecomment-588994260

[2020-02-22 18:53] 526710585 commented on #82
Thank you very much! The page is blank after I submitted base64. I will check the balance tomorrow

[2020-02-22 19:19] itcodes opened #83 "Submit base64 tip: when errors. ClaimNotNamebaseAddr"
Submit base64 tip: when errors. ClaimNotNamebaseAddr
How to solve this problem?

[2020-02-22 19:20] pinheadmz commented on #83
This is not Namebase customer support.

[2020-02-22 19:20] #83 closed

[2020-02-22 19:21] itcodes commented on #82
I have the same problem, right? Has it been solved?

[2020-02-22 19:46] 526710585 commented on #82
yes , I solved the problem. .git clone https://github.com/handshake-org/hs-tree-data to home directory at ~/.hs-tree-data and then run the script. Got the base64

[2020-02-22 19:48] FrankFang commented on #38
How did you solve it?

[2020-02-22 19:48] itcodes commented on #82
I submitted a base64 shows: errors. ClaimNotNamebaseAddr. Don't know why?

[2020-02-22 19:48] pinheadmz commented on #38
@FrankFang https://github.com/handshake-org/hs-airdrop/issues/38#issuecomment-586728569

[2020-02-22 19:53] 526710585 commented on #82
I have the same situation , You can rerun the script and submit the new base64 without errors. but the page is blank after I submitted the new  base64.

[2020-02-22 19:55] 526710585 commented on #82
I don't know if it succeeded or failed. I used F12 in the browser and saw that the response was successful, but there was no prompt on the page. I can only check the balance tomorrow.

[2020-02-22 20:03] itcodes commented on #82
I submitted a base64 shows: errors. ClaimNotNamebaseAddr. Don't know why?

[2020-02-22 20:12] 526710585 commented on #82
I just ran the script the second time and got the new base64 to submit .solved the problem.

[2020-02-22 20:17] itcodes commented on #82
According to your method, I have just successfully solved the problem

[2020-02-22 23:12] #82 closed

[2020-02-23 00:36] NieDzejkob commented on #64
All of their keys seem to be `ssh-rsa`.

[2020-02-23 00:50] NieDzejkob commented on #12
Any news on this issue?

[2020-02-23 02:28] xingfudeshi commented on #70
it's still not working.I'm using CentOS7.7.

[2020-02-23 02:28] xingfudeshi commented on #70
`[root@centos-master bin]# ./hs-airdrop -h
node: symbol lookup error: /root/hs-airdrop-0.7.1/node_modules/bcrypto/build/Release/bcrypto.node: undefined symbol: mpn_zero_p
`

[2020-02-23 03:36] OneCodeMonkey commented on #74
centos 7.5，nodejs 11.12

[2020-02-23 04:52] YikaJ commented on #52
download `tree.bin`, and put this file into `~/.hs-tree-data`. It can solve download timeout problem.

[2020-02-23 05:11] jacarrichan commented on #39
may be you should  use  linux .

也许你应该使用linux.

[2020-02-23 05:13] jacarrichan commented on #58
address  is error.

try the  follow step:

first  .  open  this website :[ https://www.namebase.io/airdrop]
second .   click [ Click To Show Your Handshake Wallet Address]
third  .  copy  address.

[2020-02-23 06:15] archessay opened #84 "EVP_DecryptFinal_ex:bad decrypt"
hi,

When I run the command "./bin/hs-airdrop  ~/.ssh/id_rsa hs1q4pwj68nvkazuvvs2xcd6sh3cszmgxxxx  0.1" with my private key, I get an error. How to solve it, thank you.

Exception stack：
Error: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt
    at Decipheriv.final (internal/crypto/cipher.js:172:29)
    at CipherBase.final (/Users/liuchunlong/IdeaProjects/hs-airdrop/node_m

[2020-02-23 07:28] #84 closed

[2020-02-23 07:58] jonnydubowsky commented on #12
I too would love insight into how to claim as Keybase user w/ social proof from Hacker News?

[2020-02-23 10:30] rinetd opened #85 "problem end with **killed**"
./bin/hs-airdrop ~/.ssh/id_rsa hs1q3mv5zdzey4hu9hg59dgsaecaly960ns9yfjl2p 0.1
Passphrase:
Attempting to create proof.
This may take a bit.
Decrypting nonce...
Found nonce!
Rebuilding tree...
**Killed**

![image](https://user-images.githubusercontent.com/15907353/75110572-9a17e200-566a-11ea-9758-a7ee5659fc3e.png)

[2020-02-23 12:51] pinheadmz commented on #12
The process is the same as for GitHub users: run the script with your PGP key.

[2020-02-23 13:44] ZengTianShengZ opened #86 "Error: connect ECONNREFUSED"
[code]

node -v
v10.16.3

[2020-02-23 13:48] pinheadmz commented on #86
This has been answered multiple times in other issues. We'll add it to the issue template:

https://github.com/handshake-org/hs-airdrop/issues/57#issuecomment-588994260

[2020-02-23 13:48] #86 closed

[2020-02-23 17:03] zsh2401 commented on #39
I met the same wrong,so I use ubuntu 18.04LTS in VMWare workstation,it's ok

[2020-02-24 01:33] ManutdGTA opened #88 "Error: Decryption failed. or Error: Invalid bcrypt parameters."
Passphrase
enter
Error: Invalid bcrypt parameters.

OR

Passphrase    some password enter

Error: Decryption failed

[2020-02-24 01:37] ManutdGTA commented on #88
![image](https://user-images.githubusercontent.com/25993649/75124278-2ec12500-56e9-11ea-9e0a-598c1a93071f.png)

[2020-02-24 02:26] ShiSanChuan commented on #71
i have same problem,my OS is ubuntu16.04

[2020-02-24 03:16] itcodes commented on #82
你的币到了吗？为啥我的一直在pending

[2020-02-24 04:16] 526710585 commented on #82
I got it,maybe you should wait a while

[2020-02-24 05:47] itcodes commented on #82
Did you get it?

[2020-02-24 09:22] bananooo-zhang opened #89 "Is there a deadline for exchange?"
Is there a deadline for exchange?
-->

[2020-02-24 12:10] pinheadmz commented on #89
No. If you qualify for the airdrop you can redeem at any time. However after one year the private GooSig method will be disabled and only `--bare` airdrops will be allowed.

[2020-02-24 12:10] #89 closed

[2020-02-26 07:09] #74 closed

[2020-02-26 08:51] meeDamian commented on #88
Experiencing the same.

[2020-02-27 15:54] #72 closed

[2020-02-28 09:30] ouwenkg commented on #74
+ 1

[2020-03-01 04:43] xuhaodong commented on #39
if you need help，my QQ account is 3552116732

[2020-03-01 04:58] sbwtw opened #90 "Success with SSH key, Failed with GPG key."
I have success airdrop with my SSH key, and airdrop shows **2 keys found in subtree**.
But when I using GPG key, it shows `NonceError: Could not find nonce in bucket xxx`

[2020-03-01 05:46] objcoding opened #91 "about ssh key date."
My ssh key date Added on 2 Dec 2019, Want to ask if this key is still valid?
ps:I have enough fans.

[2020-03-02 14:18] boymanjor commented on #90
@sbwtw while multiple keys may be included in your subtree, only one airdrop claim is allowed per GitHub user.

[2020-03-02 14:20] boymanjor commented on #91
The final snapshot of the tree was generated on Feb. 4, 2019, so your key was not included in the tree.

[2020-03-02 14:20] #91 closed

[2020-03-03 00:48] #90 closed

[2020-03-03 21:21] keredson opened #92 "possible phishing attempt"
I got the following email yesterday:

[code]

After discussions as to what would lead to such a weird phishing email, I was linked to your project with the suggestion that it's an attempt to steal these coins you're distributing.

Just an FYI,
Derek

[2020-03-04 15:41] calidion opened #93 "Stuck on decrypting"
[code]

[2020-03-04 16:20] pinheadmz commented on #93
This can take a very long time depending on your machine. It is brute forcing hundreds of ciphertexts. Please be patient.

[2020-03-04 17:13] calidion commented on #93
Could not find nonce in bucket 76.  :sweat_smile:

[2020-03-04 17:13] #93 closed

[2020-03-05 07:19] mewwts opened #94 "Error using exported gpg key"
Hey devs,

I'm getting the following error when running
[code]
having exported my github-associated pgp-key using

[code]
where `yyyyy` is my key id.

I remember having logged into handshake.org previosuly, so I also wonder if I were deduped in some way - and I've stored privately and _two_ seeds. Is there any way to log in to hanshake.org to verify?

Or how do I detect if the coins were dropped t

[2020-03-05 16:13] boymanjor commented on #94
@mewwts if you signed up on handshake.org, your key was removed from the airdrop tree. You will be able to claim your portion of the faucet using the address you registered on the website. You can verify this by searching for your faucet address in this [file](https://github.com/handshake-org/hs-tree-data/blob/master/proof.json).

However, the above error does _not_ imply your key is not in the ai

[2020-03-06 02:13] zek opened #95 "Error: Length too large"
./bin/hs-airdrop ~/.ssh/github_rsa xxxxx 0.1
Passphrase:
Error: Length too large.
    at readSize (/Users/zek/Desktop/hsairdrop/hs-airdrop/node_modules/bcrypto/lib/encoding/asn1.js:2019:13)
    at readHeader (/Users/zek/Desktop/hsairdrop/hs-airdrop/node_modules/bcrypto/lib/encoding/asn1.js:1967:16)
    at peekHeader (/Users/zek/Desktop/hsairdrop/hs-airdrop/node_modules/bcrypto/lib/encoding/asn1.js

[2020-03-06 14:15] mewwts commented on #94
Got it.

Thank you @boymanjor. I now tried renaming the key and then the process failed with the expected `NonceError`. I think it's clear that my keys have been deduped since I signed up on handshake.org. I'm struggling to figure out how I can log back in to handshake.org to find my info - any pointers?

[2020-03-07 05:55] zhangyuang opened #98 "hey, i have two friends has not claimed airdrop, but namebase tips them the airdrop has been claimed. please help me"
hey, i have two friends has not claimed airdrop, but namebase tips them the airdrop has been claimed. please help me

[2020-03-07 12:58] Deeer opened #99 "Error: read ETIMEDOUT"
hi, I follow this [guide](https://www.namebase.io/airdrop)  to generate code

on step 4 :
I try to exec this cmd

but there is some error

<img width="500" alt="WeChat4dddaa4681227f08e27c8dd26ba9f946" src="https://user-images.githubusercontent.com/8898286/76143888-01e01b00-60b6-11ea-9748-549e69ec133b.png">

how can I fix it ?

[2020-03-07 13:43] #99 closed

[2020-03-07 17:08] ChALkeR commented on #98
Could #92 be related?

[2020-03-07 17:11] pinheadmz commented on #98
Please take Namebase questions to Namebase support.

[2020-03-07 17:11] #98 closed

[2020-03-07 20:08] #95 closed

[2020-03-08 02:19] codingWang commented on #67
Is there a solution？

[2020-03-08 02:30] jimeh opened #100 "GPG Key - Error: Invalid Checksum"
I have made sure to have the latest hs-airdrop from the `master` branch and also cleared out `~/.hs-tree-data`, but I still keep getting the same error:

[code]

The GPG itself works though, and it's the main one on my GitHub account. I've tried another GPG key and it worked fine, and is not part of the airdrop as I expected.

The error above seems to indicate the issue is with the key itself, and

[2020-03-08 03:01] jimeh commented on #100
I managed to get it to work by exporting the private key in armour format:

[code]

[2020-03-08 03:01] #100 closed

[2020-03-08 04:34] ManutdGTA opened #101 "Could not find nonce in bucket 198"
NonceError: Could not find nonce in bucket 198.
    at findNonces (/Users/user/namespace/hs-airdrop/bin/hs-airdrop:275:17)
    at async createKeyProofs (/Users/user/namespace/hs-airdrop/bin/hs-airdrop:328:17)
    at async main (/Users/user/namespace/hs-airdrop/bin/hs-airdrop:746:8)

This means your key was not found in the airdrop tree.
If you registered at handshake.org, use that address.
Usage:

[2020-03-08 05:51] razerdp commented on #67
@codingWang  终端复制出来的base64可能带有换行，去处理掉，保证你的base64只有一行就可以了。

[2020-03-08 06:17] #101 closed

[2020-03-08 09:11] codingWang commented on #67
干得漂亮

[2020-03-08 09:23] fanshiqing commented on #71
@ShiSanChuan @yyy999 update node version works for me.

[2020-03-08 14:04] #71 closed

[2020-03-08 15:43] liguobao opened #102 "Could not find nonce in bucket 30 - My account with 15 or more followers on 2019"
#35

like issues 35, I also did not have a ssh key.
but My settings/keys show the ssh key add to Github is
"Added on 12 Oct 2018" and "Added on 9 Jul 2018".

My account with 15 or more followers on 2019.

So?

[2020-03-08 16:33] boymanjor commented on #94
The handshake.org faucet site has been shut down. I do not think there is any way to log into that site. @hschoenburg any insight here?

However, if you have your seed phrase, you will be able to generate the faucet address by importing the phrase into a Handshake wallet. You can use [hsd](https://github.com/handshake-org/hsd) or [Bob](https://github.com/kyokan/bob-wallet).

At this point, I think

[2020-03-08 16:37] pinheadmz commented on #102
If your key is not in the airdrop tree you must not have qualified at the time of the airdrop. You can try others keys if you have any but there's nothing we can do.

[2020-03-08 16:37] #102 closed

[2020-03-09 04:13] jingle1267 opened #103 "Almost mined for a long time."

[2020-03-09 08:49] mewwts commented on #94
Got it thanks!

I realise this is getting off topic for `hs-airdrop`, please just let me know where I should move this discussion if there are better venues: after importing seed-phrases using `mkwallet` in `hsw-cli`, should I see the balance immediately without creating any addresses? Or would I have to generate an account first?

[2020-03-09 10:03] mewwts commented on #94
Nevermind, found the coins on the default address of the seed. The issue was my local node apparently not being synced. Thanks for your help @boymanjor .

[2020-03-09 10:03] #94 closed

[2020-03-09 12:52] #103 closed

[2020-03-09 12:53] #79 closed

[2020-03-09 12:53] pinheadmz commented on #85
@rinetd did you ever solve this issue?

[2020-03-09 12:54] #12 closed

[2020-03-09 12:58] pinheadmz commented on #92
We appreciate the report. I feel like anyone who generates a private key for any crypto system for any purpose must understand the responsibility in keeping it safe. I don't think keeping this issue open will help any future users and since it is not related directly to the code, I will close for now.

[2020-03-09 12:58] #92 closed

[2020-03-09 12:59] pinheadmz commented on #64
I'm sorry your key wasn't in the airdrop tree. You can try other keys if you have them. Closing for now since this is not an issue with the code.

[2020-03-09 12:59] #64 closed

[2020-03-09 13:00] pinheadmz commented on #88
Are you absolutely sure you are entering the correct passphrase to decrypt the key?

[2020-03-09 19:21] aamirshah1412 opened #104 "hi airdrop not recevied"

[2020-03-09 19:22] #104 closed

[2020-03-09 19:23] pinheadmz commented on #104
If you are using namebase please contact namebase support. If you have any actual details about your issue including what you tried and what happened you can add another comment here.

[2020-03-10 04:08] divadsn opened #105 "Could not find nonce despite a valid GPG key"
Hello,

I was going to claim my airdrop using my SSH keys, but quickly realized that these are mostly 3 months old and would not be included in the tree. So I saw then that I can use my private GPG key, which is kept unchanged since over 2 years on my GitHub profile and is used for any signed commit since then.

![image](https://user-images.githubusercontent.com/28547847/76278668-6bb21d80-628c-11e

[2020-03-10 07:43] Griffin98 commented on #105
I am having same issue. My GPG key is linked to my github since 2018 and during the time of crawl i was having 16 followers. :(

[2020-03-10 14:24] pinheadmz commented on #105
@divadsn when I check your GPG key using GitHub's API, I see an encrypted private key where I would expect a public key:

https://api.github.com/users/divadsn/gpg_keys

[code]

I'm not sure why GitHub allows this, but it could be the reason your key didn't get parsed during the snapshot. It also looks like you have two subkeys on github as well, you could try to search the airdrop tree with those

[2020-03-10 14:30] pinheadmz commented on #105
@Griffin98 your keys look old enough and the right modulus size. All I can think of is that you only have 16 followers right now - are you sure you had 15 in Feb 2019? You should try both your keys.

If you can't find your key in the airdrop then I'm sorry there's nothing we can do.

[2020-03-10 17:24] divadsn commented on #105
@pinheadmz interestingly enough the public key returned from GitHub is valid even though they have my private key stored (which apparently was done by their app)

![Screenshot_20200310_182322](https://user-images.githubusercontent.com/28547847/76340667-3e9d5380-62fc-11ea-8537-e9beddbdc62f.png)

[2020-03-11 02:53] fuchao2012 commented on #84
same here

[2020-03-11 03:00] pinheadmz commented on #84
@fuchao2012 make sure you are using the right passphrase for your encrypted key!

[2020-03-11 11:26] benjie commented on #2
### How to run pseudo-airgapped hs-airdrop using Docker

**DISCLAIMER**: THIS GUIDE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF

[2020-03-11 12:59] pinheadmz commented on #2
@benjie thanks for writing this out. This material might be more useful as its own issue where people can find it, or even as a "guide" on https://hsd-dev.org, you can make a PR to that repo here: https://github.com/handshake-org/handshake-org.github.io

[2020-03-11 18:23] benjie commented on #2
:+1:  Filed https://github.com/handshake-org/handshake-org.github.io/issues/61

[2020-03-11 18:28] pinheadmz opened #106 "How to run pseudo-airgapped hs-airdrop using Docker"
SOURCE: https://github.com/handshake-org/hs-airdrop/issues/2#issuecomment-597579573

by: @benjie

Please feel free to add this as a guide to your website if you would like. I do not require attribution.

Originally posted here: https://github.com/handshake-org/hs-airdrop/issues/2#issuecomment-597579573

**DISCLAIMER**: THIS SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMP

[2020-03-16 09:16] pradumangoyal commented on #41
@leeduckgo, What was that? I am getting the same.

[2020-03-16 13:29] leeduckgo commented on #41
Just wait for more hours.

[2020-03-16 13:33] pinheadmz commented on #41
Please contact Namebase support for issues related to Namebase. This is not Namebase support and so I am going to lock this thread.

[2020-03-19 22:26] liupeng110112 opened #107 "Airdrop: waiting for airdrop to be mined..."
17 Mar 2020
Airdrop: waiting for airdrop to be mined...

what's mean ?

[2020-03-19 22:26] pinheadmz commented on #107
This is not Namebase support.

[2020-03-19 22:26] #107 closed

[2020-03-21 11:50] messi2050 opened #108 "Any chance to update the tree ?"
Does there is any chance for the tree to be updated in the future with the new added ssh keys ?, i had more than 15 follower by the date when the snapshot was made however i didn't have any ssh keys associated with my account back there and i can see many already have the same problem..

[2020-03-21 11:53] pinheadmz commented on #108
The airdrop tree is consensus critical and would require a hard fork to modify. It will almost certainly never be updated.

[2020-03-21 11:53] #108 closed

[2020-03-21 15:20] freedomfighter2020 opened #109 "claiming multiple airdrops in same block"
i claimed a total of 6 github airdrops for me and my coworkers
however i only received tokens for 5 of them
the issue seems to be with claiming more than 1 in the same block
https://hnscan.com/address/hs1qpkeldmswn4ju2rr3femmqhtly5tndn779hna5s

[2020-03-21 15:33] pinheadmz commented on #109
What wallet are you using? You should open this issue in that repo, this is not a problem with hs-airdrop.

If you are using Bob, there is already a patch in place for this:

https://github.com/kyokan/bob-wallet/pull/105

Bob currently doesn't show the total amount received per TX if a TX has more than one output for the wallet. However, the total balance WILL reflect the correct amount.

I should

[2020-03-23 16:15] boymanjor commented on #109
I think this is an issue with HNScan (cc: @kilpatty). A different block explorer reports the correct amount of coins: https://shakescan.com/address/hs1qpkeldmswn4ju2rr3femmqhtly5tndn779hna5s.

@freedomfighter2020 you should check the balance in your wallet. As @pinheadmz noted, this is not an issue with hs-airdrop. I am going to close this.

[2020-03-23 16:15] #109 closed

[2020-03-23 17:43] kilpatty commented on #109
Not to muddy this issue, but have a fix coming for this in HNScan today!

[2020-04-03 03:00] jonwinters opened #110 "Is this repository safty to access our private key"
Is this repository safety to access our private key?
I don't know how to code javascript.

[2020-04-03 03:03] jonwinters commented on #110
and who knows Handshake how to access our github.com public key?

[2020-04-13 04:05] hixichen opened #111 "dyld: lazy symbol binding failed: Symbol not found"
MacOS: 10.15.4
node: v13.12.0

[code]

[2020-04-13 04:06] hixichen commented on #17
please share docker image.

Node js is a nightmare

[2020-04-13 12:05] pinheadmz commented on #17
@hixichen please create a docker image and share it with the community. Let us know if you have any issues installing hsd or nodejs. It is extremely easy. We're on IRC at `#handshake`

[2020-04-13 12:09] pinheadmz commented on #111
Are you running the latest version of hs-airdrop? Did it install without any errors?

[2020-04-13 12:11] pinheadmz commented on #111
Perhaps look into this https://github.com/bcoin-org/bcrypto/issues/41

[2020-04-14 11:37] skorokithakis commented on #48
I decrypted my key by specifying no passphrase for `ssh-keygen -p` and it worked with the plaintext key.

[2020-04-16 18:05] smacke opened #112 "out-of-bounds read on sendrawairdrop"
`./bin/hsd-rpc sendrawairdrop $BASE64_STR`

results in:

`Out of bounds read (offset=969).`

[2020-04-16 18:09] smacke commented on #112
This is on version 0.0.8 of hs-client.

[2020-04-16 18:11] pinheadmz commented on #112
How did you create the raw airdrop base64 string?

[2020-04-16 18:23] smacke commented on #112
I used the instructions [here](https://handshake.org/claim/), using the base64 output by this command:

`./bin/hs-airdrop ~/.ssh/id_rsa hs1XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX`

[2020-04-16 18:24] smacke commented on #112
hs-airdrop version 0.7.1

[2020-04-16 18:40] pinheadmz commented on #112
And the latest version of hsd as well? Was there any more detail or stack trace in the log or hsd output when you ran `sendrawairdrop` ?

[2020-04-16 20:35] smacke commented on #112
hsd version 2.1.5. I didn't see anything that jumped out at me in the logs, though admittedly I'm not familiar at all with what to look for.

If I run with loglevel "debug", I get the following messages in hsd:
[code]

 There was a warning 'no reward address set up for miner', but I'm guessing that doesn't matter since I'm not mining. I haven't created a wallet using the steps [here](https://hsd-d

[2020-04-16 20:50] smacke commented on #112
I did a bit more investigation. This is happening inside of the file `bufio/lib/reader.js`, in the `check` method. Looks like a simple bounds check for a buffered reader. I can try and get a stack trace.

[2020-04-16 20:51] pinheadmz commented on #112
Yeah, actually if you are ok with a bit of a privacy leak, you can send me your base64 string (its basically a raw transaction, already signed, and not malleable)

I can debug it and see if maybe you are using an unsual key type or something thats triggering a bug.

Feel free to email me directly if you like pinheadmz@gmail.com or you could just post here.

[2020-04-16 20:59] smacke commented on #112
Eh, what the heck, I've already trusted `hs-airdrop` with my private key so why not. Here's my base64 string:

`zMEAABIsn4sjhewpkauprpPfyk6lOz0bL/P/YFpITkTlRUZwxGUz9UJVg233Mb1spVK2m2fEm+dRYNEbiH3c0VWWN05o91N4RyiFrZragms0vxYuo/VX9l5hUtc8M0NBwKQFEeZXdeXQR+3ev579hWeHa+1XBsdVwELTdHtt7Rd+sgqIRAtpyJbnJ3njDY22M0oPW72t0WAgcUL1+5/vhi8kFYdukLu5gdVAU5q8hBcrexsErjleiSb66MJ2kO4C/m8Pnr/lhA0z4JDSLndAHS8VxOuimAAB

[2020-04-16 21:03] smacke commented on #112
(Thanks for looking into this, by the way)

[2020-04-16 21:14] pinheadmz commented on #112
@chjj
Looks like an issue with a goosig signature.
I patched hsd to output the proof object up to the point of failure which is
`this.signature = br.readVarBytes();`

[code]

[2020-04-16 21:17] pinheadmz commented on #112
@smacke you might be able to succeed by using the `--bare` option with `hs-airdrop` when you create your proof. If there is an issue with goosig, this will bypass it. It will identify your HNS coins with your actual public key but it may be this fancy crypto-blinding factor that is problematic.

[2020-04-16 21:24] pinheadmz commented on #112
Also @smacke are you completely sure you're not missing any characters? This is 100% the exact output of the proof?

[2020-04-16 21:38] smacke commented on #112
Unless something weird is going on with my copy+paste (possible given the number of tmux plugins I've installed), that should be the exact base64 representation of the proof.

Tried with `--bare` and got the same issue (slightly different offset).

[2020-04-16 21:49] smacke commented on #112
Ugh, I'm really sorry for the waste of time... I'm getting different results depending on whether I paste the string directly into my terminal versus pasting it into a file `file.txt` and using the command `/bin/hsd-rpc sendrawairdrop $(cat file.txt)`. This is 100% a problem on my end, probably with some bizarro tmux or iterm2 config, really, really sorry for the false herring.

[2020-04-16 21:49] #112 closed

[2020-04-16 22:00] smacke commented on #112
In case curious, somehow pasting directly in the terminal led to an extra 'f' at position 1455 in my base64 string. That's the only difference compared to when I paste into a file. Really, truly, bizarre.

[2020-04-17 16:49] skorokithakis commented on #32
Agreed, I was just bitten by this as well.

[2020-04-19 10:56] Suk-Lees opened #113 "stdin.setRawMode is not a function"

[2020-04-19 12:26] pinheadmz commented on #113
https://github.com/handshake-org/hs-airdrop/issues/51

[2020-04-19 12:26] #113 closed

[2020-05-05 15:20] iliul commented on #54
@pinheadmz @chjj any updates ? The same problem to me

[2020-05-05 15:23] iliul commented on #54
你解决了么？我也是同意的问题，无论 ssh key 和 gpg key 都不行，都是 17 年的确定 Key 没问题

[2020-05-11 04:27] crodas opened #114 "My GPG key is not included in the faucet list."
My [SSH Key](https://github.com/crodas.keys) is not supported but I cannot find my GPG key either.

Is there anything I can do to claim the faucet?

[2020-05-11 13:22] pinheadmz commented on #114
Unless you also signed up at Handshake.org during 2019 the answer is no.

[2020-05-11 13:22] #114 closed

[2020-05-17 13:33] HaleTom commented on #48
I tried @skorokithakis suggestion, but then get (just pressing <enter> when asked for keyphrase):

[code]

[2020-05-17 13:37] pinheadmz commented on #48
@HaleTom the bech32 error refers to the Handshake address you need to pass in to hs-airdrop, telling the Blockchain where to send your coins. Were you able to generate a HNS address

[2020-05-20 21:26] aamirshah1412 opened #115 "$ git clone https://github.com/handshake-org/hs-airdrop.git"

[2020-05-20 21:27] #115 closed

[2020-06-28 06:41] yasarsaiyad opened #116 "Termux"

[2020-06-28 06:41] #116 closed

[2020-06-28 06:42] yasarsaiyad commented on #116
![IMG_20200628_113753_141](https://user-images.githubusercontent.com/52925333/85940197-9a85f980-b938-11ea-8a2b-68fe142f9bc1.jpg)

Having issue in the termux ...

[2020-06-28 06:44] yasarsaiyad opened #117 "Having problem in termux"

[2020-06-28 10:28] #117 closed

[2020-06-28 10:30] pinheadmz commented on #116
You need a C compiler to install the crypto library - I'm not surprised this doesn't work on Android. There might be a way to use the javascript fallback library instead but I would really not recommend this. For hs-airdrop you need your PGP key file as well to sign, is that possible on this platform?

[2020-08-10 17:19] kenorb opened #118 "Asks for Passphrase for passphrase free key"
[code]

My private key doesn't have passphrase, but the tool still asks for it.

[code]

[2020-08-10 19:52] pinheadmz commented on #118
What happens if you just leave it blank and hit enter?

[2020-08-10 20:08] kenorb commented on #118
[code]

[2020-08-10 20:17] kenorb commented on #118
Same when testing with new brand key:

[code]

[2020-08-11 12:54] pinheadmz commented on #118
Ok so this does not look like a password issue, in fact the stack trace indicates an encoding error. I tried to reproduce your steps exactly and it failed the same way -- but it succeeded when I put in my own mainnet HNS address:

[code]

So then I checked the HNS address you are using. Compare the results with my address:

[code]

Please double check your wallet address! :-)

[2020-08-18 16:24] babycodes commented on #118
i have same issues that need Passphrase and shown this when is enter
Error: PEM parse error (unexpected data).
    at decode (/home/babycodes/Downloads/hs-airdrop-0.9.0/hs-airdrop/node_modules/bcrypto/lib/encoding/pem.js:349:13)
    at decode.next (<anonymous>)
    at PEMBlock.fromString (/home/babycodes/Downloads/hs-airdrop-0.9.0/hs-airdrop/node_modules/bcrypto/lib/encoding/pem.js:61:21)
    at F

[2020-08-18 16:37] iPurya opened #119 "can i get rewards if i dont have 15 followers ?"
Hi,
can i get rewards if i dont have 15 followers ?

[2020-08-18 16:40] pinheadmz commented on #119
No, sorry.

[2020-08-18 16:40] #119 closed

[2020-08-18 17:06] pinheadmz commented on #118
This is not a passphrase issue - is your key in PEM format?

[2020-08-18 17:17] babycodes commented on #118
so how the right format is?

[2020-08-18 17:19] pinheadmz commented on #118
From https://github.com/handshake-org/hs-airdrop#usage:

[code]

[2020-08-18 17:34] babycodes commented on #118
sorry still confusing can you give me an example :(

[2020-08-18 17:51] babycodes commented on #118
which key?
[code]

[2020-08-18 17:59] babycodes commented on #118
i put address from this generated syntax

[code]

[code]

[2020-08-18 19:54] pinheadmz commented on #118
Are you sure you are using the key that was connected to your github profile in February 2019?

Did you register at Handshake.org?

[2020-08-19 11:49] balupton opened #120 "I had to replace my ssh keys in April 2019, is it possible for me to claim?"
I had to replace my ssh keys in April 2019, is it possible for me to claim? I don't seem to have access to the old ones, as never felt I needed to keep a copy.

[2020-08-19 11:49] pinheadmz commented on #120
No, sorry, only the key from February 2019 is in the air drop tree and that is consensus critical, can not be changed.

[2020-08-19 11:50] #120 closed

[2020-08-19 11:54] balupton commented on #120
Does my verified keybase gpg key include the airdrop for the github accounts?

[2020-08-19 11:55] pinheadmz commented on #120
from the README:

This is the only keybase-related airdrop redemption protocol

[2020-08-19 11:56] balupton commented on #120
So is there no association of which github account the ssh key is for?

[2020-08-19 11:57] pinheadmz commented on #120
Not really, the airdrop does not know or care who you are, it just has a merkle tree of public keys and your key is either in that tree or no.

[2020-08-19 12:00] balupton commented on #120
I have access to the GPG/PGP key used on github on feb 2019, can I use that?

[2020-08-19 12:01] pinheadmz commented on #120
Wait, you have it? What's this mean then?

From the README:

[2020-08-19 12:03] balupton commented on #120
the ssh key

[2020-08-19 12:07] pinheadmz commented on #120
Whatever key was on your github account in february 2019, there was a snapshot taken. It doesnt matter what else happened to your github account or the keys that were there AFTER the snapshot. If you still have the key, just try it!

[2020-08-19 12:11] balupton commented on #120
ok thanks

I had the keybase gpg/pgp key succeed - which seems was linked to my github and hackernews at the time too

to confirm, what HNS amounts are typical for keybase only, and what HNS amounts are typical for github only?

So that I can compare what I received with what is expected (to make sure that I've been able to claim my airdrop for both hn and github)

[2020-08-19 12:15] pinheadmz commented on #120
Nice! All airdrop amounts are around 4000 HNS I think. Keys were de-duplicated by email address so you may not be able to redeem more than one airdrop. And it's per key anyway - so if you had the same key on keybase and github, you dont get an extra airdrop just for having it in two places.

[2020-08-19 12:17] balupton commented on #120
ah ok, that makes sense then, yeah that is about what I got

so even if I had different keys on github and keybase, the email deduplication would have prevented double-dipping?

[2020-08-19 12:18] pinheadmz commented on #120
Yes, even if you had 10 keys on github, you should only get one airdrop. The keys are in sub-trees in the main airdrop tree.

[2020-08-19 15:36] balupton commented on #120
Cool. For those interested, here was my steps:

1. Go to the keybase website, go to your own profile, click "edit" next to your gpg key, click "export my private key from Keybase", save as `keybase.pgp`
2. import into your local keyring: `gpg --import keybase.pgp`
3. get the longform key id: `gpg --keyid-format LONG -K`
[code]
4. export into the format the app expects: `gpg --output keybase.asc --

[2020-09-06 02:17] linnbenton commented on #61
![Screenshot_48](https://user-images.githubusercontent.com/35951722/92316645-6d815180-f021-11ea-938a-ba42520fd00c.png)
after replacing a public key with a private key, then like that screenshot @pinheadmz how to solve this problem?

[2020-09-06 02:48] linnbenton opened #121 "@pinheadmz how to solve this problem?"
![Screenshot_48](https://user-images.githubusercontent.com/35951722/92316645-6d815180-f021-11ea-938a-ba42520fd00c.png)
after replacing a public key with a private key, then like that screenshot @pinheadmz how to solve this problem?

_Originally posted by @linnbenton in https://github.com/handshake-org/hs-airdrop/issues/61#issuecomment-687688414_

[2020-09-06 03:11] pinheadmz commented on #121
"this means your key was not found in the airdrop tree"
This is not an issue with hs-airdrop

[2020-09-06 03:11] #121 closed

[2020-09-06 03:17] linnbenton commented on #121
what is your solution so that my key is found in the airdrop tree? @pinheadmz 🆘

[2020-09-06 03:19] linnbenton opened #122 "put my key in the airdrop tree, please!"
what is your solution so that my key is found in the airdrop tree? @pinheadmz 🆘

_Originally posted by @linnbenton in https://github.com/handshake-org/hs-airdrop/issues/121#issuecomment-687693081_

[2020-09-06 03:25] pinheadmz commented on #122
the airdrop tree is consensus data and can not be changed without a hard fork. I'm sorry, but there are many other ways to acquire HNS and start using decentralized names.

[2020-09-06 03:25] #122 closed

[2020-09-06 03:31] linnbenton commented on #122
what is the ways to acquire HNS?

[2020-09-06 03:33] pinheadmz commented on #122
Like any other cryptocurrency (or just plain currency for that matter) you can buy it on an exchange, or earn it in exchange for goods or services. The airdrop is set in stone and can not be changed.

[2020-09-17 05:44] ntokozo-shagala commented on #48
Thanks had a same error adding `decrypt.setAutoPadding(false)` solved it for me.

[2020-09-17 13:04] pinheadmz commented on #48
@ntokozo-shagala were exactly did you add that line? Could you post a diff here, or open a pull request? thank you!

[2020-09-25 07:18] hexagon6 commented on #13
I have the same issue like in the title description, but a different error message:

`./bin/hs-airdrop ~/.ssh/id_ed25519 hs1.......`

[code]

[2020-09-25 07:23] hexagon6 commented on #13
Fixed by removing lines 1005 & 1006 which throws this error
https://github.com/bcoin-org/bcrypto/blame/master/lib/ssh.js#L1005

[2020-09-25 07:33] brandondees commented on #13
@hexagon6 did claim work that way? i think this is where i had given up on my last attempt, but it's reassuring to find out it may still be possible with fixes to just the airdrop tool

[2020-09-28 06:48] hexagon6 commented on #13
@brandondees yes!

[code]

[2020-10-12 08:50] hatgit opened #123 "Error that 'bcrypto/lib/pgp' cannot be found when claim airdrop"
I am getting the following error (related to [line 11 from here](https://github.com/handshake-org/hs-airdrop/blob/master/bin/hs-airdrop)) when trying to claim the airdrop:

[code]

[2020-10-17 13:58] brmt2019 opened #124 "Error: EISDIR: illegal operation on a directory, read"
I ran into this problem. please help, i'm completely clueless:

brmt@brmt-Lenovo-IdeaPad-S145-14IWL:~/Letöltések/hsd/hs-airdrop-0.9.0/hs-airdrop
$ ./bin/hs-airdrop ~/.ssh/ id_rsa hs1qhl58t42mmekjxlyxmw2wmadj3gpugwdaljqrvr
Error: EISDIR: illegal operation on a directory, read

[2020-10-26 04:25] pinheadmz commented on #123
did hs-airdrop install correctly? Do you have a directory `hs-airdrop/node_modules/bcrypto` ?

[2020-10-26 04:38] pinheadmz commented on #124
https://stackoverflow.com/questions/20417118/using-node-js-i-get-error-eisdir-read

Is it possible on your system `~/.ssh/ id_rsa` is a directory and not a file?

[2021-01-06 16:57] cmars commented on #31
From the main README:

Yet, that's exactly what's being asked for in order to receive the airdrop with this tool?

This seems like an interesting and well-intentioned project, but you have to expect some skepticism on matters of security. Private keys are kept on hardware devices for a good reason. Without carefully reading and completely understanding what the source code of hs-airdrop is doing,

[2021-01-06 17:49] pinheadmz commented on #31
@cmars it's actually closer to (2): https://fc20.ifca.ai/preproceedings/54.pdf

[2021-01-12 20:18] johnnywu-namebase opened #126 "Airdrop claim transactions randomly fail to be mined"
Some airdrop claim transactions fail to get mined. Fortunately, the current solution is pretty simple: just submit an airdrop claim once a day and eventually the claim will work.

[2021-01-12 21:12] pinheadmz commented on #126
Thanks for posting, hopefully we can try to figure what's going on.

It's possible some users are trying to set the fee too low: https://github.com/handshake-org/hs-airdrop#usage

It's also possible (though unlikely) that blocks are "full" of airdrops -- only up to 10 maximum are added to each block.

[2021-01-13 17:39] pinheadmz commented on #126
@johnnywu-namebase actually it may be helpful if you can direct users with this issue to... this issue. Maybe we can get some details and try to find a bug instead of just hitting retry.

[2021-01-13 17:40] pinheadmz commented on #124
hm also noticing in your path you have a space between `.ssh/` and `id_rsa`, check for that as well.

I'm going to close this issue due to inactivity, please feel free to comment if more details come up.

[2021-01-13 17:40] #124 closed

[2021-01-13 17:40] pinheadmz commented on #123
@hatgit any progress on this?

[2021-01-31 18:48] rithvikvibhu commented on #110
I can say that it's safe, but you'll have to ask someone you trust to verify the code :)

GitHub returns the public keys at /<username>.keys. For example, your public key is here: https://github.com/jonwinters.keys

[2021-01-31 19:10] Ardi510134 commented on #126
Heem

[2021-02-01 01:02] mzcoder-hub opened #127 "Error: Cannot find module 'bcrypto.node'"
i got some error here

`D:\DataGalang\test-cepot\hs-airdrop\node_modules\loady\lib\loady.js:156
  throw err;
  ^

Error: Cannot find module 'bcrypto.node'
    at moduleError (D:\DataGalang\test-cepot\hs-airdrop\node_modules\[4mloady[24m\lib\loady.js:154:15)
    at resolve (D:\DataGalang\test-cepot\hs-airdrop\node_modules\[4mloady[24m\lib\loady.js:89:9)
    at load (D:\DataGalang\test-cepot\hs-

[2021-02-01 01:04] pinheadmz commented on #127
How did you install hs-airdrop?
What OS are you using? what version of nodejs?

[2021-02-01 01:05] mzcoder-hub commented on #127
@pinheadmz  im using windows 10 , i install using github clone command, and v14.15.0 nodejs

[2021-02-01 01:06] leonardo210795 commented on #127
Ok thanks

El dom., 31 de ene. de 2021 21:05, Galang YP <notifications@github.com>
escribió:

[2021-02-01 01:07] pinheadmz commented on #127
did you execute `npm rebuild` ?

[2021-02-01 01:10] mzcoder-hub commented on #127
i did install `npm install` but its success installed 10 dependency

[2021-02-01 01:13] pinheadmz commented on #127
a successful installation would include bcrypto and the native addon `bcrypto.node`

[2021-02-01 01:16] mzcoder-hub commented on #127
well yeah bcrypto.node is installed and listed on the folder https://prnt.sc/xy0sxv but stay still its throw error

[2021-02-01 01:19] pinheadmz commented on #127
and in the `build` folder?

![Screenshot from 2021-01-31 20-19-02](https://user-images.githubusercontent.com/2084648/106404717-a15e7880-6401-11eb-84c1-8b2ede94729e.png)

[2021-02-01 01:27] mzcoder-hub commented on #127
![image](https://user-images.githubusercontent.com/55178769/106405013-54ad8880-6467-11eb-9e2a-583e8d203b81.png)
theres no item in the build folder, its exist but no items

[2021-02-01 04:39] Geoveza opened #128 "Error: PEM parse error (unexpected data)."
root@GEOVEZA:/# node hs-airdrop ~/.ssh/id_rsa hs1****************************                                                                                                                                Passphrase:
Error: PEM parse error (unexpected data).
at decode (/mnt/c/Users/geove/Documents/Tools/BOT/AIRDROP/hs-airdrop-0.10.0/hs-airdrop/node_modules/bcrypto/lib/encoding/pem.js:349:13)
at de

[2021-02-01 09:31] indradoc11 opened #129 "Job tribs"

[2021-02-01 15:00] diodtc opened #130 "go"

[2021-02-01 15:27] ibracadabra022 commented on #130
please follow me

[2021-02-01 15:28] #130 closed

[2021-02-01 15:30] #129 closed

[2021-02-01 15:48] pinheadmz commented on #128
Are you sure ` ~/.ssh/id_rsa` is a valid key file?

Other issues to check:

https://github.com/handshake-org/hs-airdrop/issues/61

https://github.com/handshake-org/hs-airdrop/issues/32

[2021-02-04 18:10] beenotung commented on #51
Got the same error on other package (jsdu) on windows and the workaround of using `node <path-to-file>` works too.

Does that means we cannot install node.js files globally with npm?

[2021-02-09 10:04] jonwinters commented on #110
thanks

[2021-02-11 00:14] johnnywu-namebase commented on #126
Sorry just seeing this (Github emails were getting spammed). Will redirect future airdrop claimers to this issue instead of just telling them to try it 👍

[2021-02-18 22:58] faisalaja15 commented on #126
@pinheadmz bisa dm saya?  Untuk memberi tahukan step by step nya?

[2021-02-19 15:11] pinheadmz commented on #126
@faisalaja15

https://handshake.org/claim

https://github.com/handshake-org/hs-airdrop

https://airdrops.io/handshake/

https://www.namebase.io/airdrop

[2021-03-29 10:18] samsondav opened #131 "Found nonce but error broadcasting transaction "bad-goosig-disabled""
I am following the instructions listed here:

https://handshake.org/claim/

And I have a nonce found in the tree:

[code]

It generates the following hex:

[code]

But when I try to transmit, my local node gives the following errors:

[code]

What have I done wrong?

I am using:

- hsd-2.3.0
- hs-airdrop-0.10.0
- hs-client-0.0.9

[2021-03-29 10:41] samsondav commented on #131
I was able to fix this with some help from devs in the telegram group. Apparently Goosig was disabled on day 395.

I had to recreate my airdrop base64 with the `--bare` option like so:

`./bin/hs-airdrop --bare ~/.ssh/id_rsa hs1XXX`

This time it worked. It is noted that this exposes your raw public key.

[2021-03-29 11:29] pinheadmz commented on #131
Thanks for the update! I'm going to reopen this as a reminder we need to update the docs :-)

[2021-04-03 07:32] strager commented on #131
@samsondav's workaround worked for me!

Here's what was in hsd's logs *before* using `--bare`:

[code]

after using `--bare`:

[code]

[2021-04-06 12:48] paiva commented on #126
Dear @pinheadmz,

I recently tried the claiming process, but I currently have a red banner on Namebase saying "_There was an error submitting your airdrop to Handshake. If you're  confident this airdrop has not already been claimed, contact support._" I am confident the airdrop has not been claimed before. Here is what I did:

1) Went to https://www.namebase.io/airdrop, and followed Steps 1 to 4.

[2021-04-06 14:19] pinheadmz commented on #126
@paiva normally I would say you need to stick with Namebase support on this, but I have a suspicion, which is explained in https://github.com/handshake-org/hs-airdrop/issues/131

Could you email me the base64 output if you still have it? pinheadmz@gmail.com
I can examine it and see if my suspicion is correct. You can also post it here, there's nothing too private about it (especially since the pri

[2021-04-06 14:26] paiva commented on #126
@pinheadmz Thank you for the quick reply! I have sent you an email with the Base64 output. Thanks!

[2021-04-06 14:28] pinheadmz commented on #126
@paiva confirmed my suspicion:

`[error] (node) Verification failure: bad-goosig-disabled (code=invalid score=0 hash=<...>)`

You will need to re-run the `hs-airdrop` command and include the `--bare` flag.

hopefully Namebase allows you to resubmit. If they don't you can send the NEW base64 to me and I'll broadcast it. As long as you use the same HNS address from the Namebase wallet, it'll work.

[2021-04-06 14:36] paiva commented on #126
@pinheadmz I did the re-run with the `--bare` flag and resubmitted on Namebase. It allowed me to resubmit as I see a new "Pending" transaction on my dashboard again! Hopefully this time it will work. THANK YOU FOR YOUR HELP!

[2021-04-08 20:04] johnnywu-namebase commented on #126
Got it, thanks so much for identifying this, I suspect a lot of recent failed airdrops have this same problem

[2021-04-24 16:37] hacket commented on #126
I have the same problem. I use `--base` , but I currently have a red banner on Namebase saying "There was an error submitting your airdrop to Handshake. If you're confident this airdrop has not already been claimed, contact support."
![image](https://user-images.githubusercontent.com/5653588/115965988-1a332380-a55e-11eb-9582-200e2c0b77de.png)

Here is the log:
[code]

[2021-04-25 20:56] pinheadmz commented on #126
@hacket I tried broadcasting your raw airdrop proof but my full node is telling me it has already been confirmed (or an airdrop to one of your other keys, including possibly the goosig-tweaked key). You will have to continue to address this issue with Namebase support.

[code]

[2021-04-26 07:15] hacket commented on #126
@pinheadmz I have two SSH keys, one for work and one for home use. The one above is the one used at home. Now the following is a working computer ssh key.  Already have a red banner on Namebase.
[code]

[2021-04-26 13:14] pinheadmz commented on #126
@hacket I am getting a double-spend error for this airdrop proof as well.

Let me explain a bit: For the github user airdrop, every user only gets one. Even if you had 10 SSH keys and 10 PGP keys on github at the time of the snapshot, you can only claim one airdrop. Once you claim, the other 19 keys (in this example) are invalidated.

What these two proofs' validation errors are telling me is that

[2021-04-29 03:58] hacket commented on #126
@pinheadmz  If I claimed. How can I find out which NameBase account I have claimed?

[2021-04-29 14:15] albertcht commented on #126
Hi @pinheadmz ,

I've tried to add `--bare` but still failed many times. I got `There was an error submitting your airdrop to Handshake. If you're confident this airdrop has not already been claimed, contact support.` on namebase's dashboard.

Could you please help me check out what the problem is? thanks in advance!

Here's the output detail:

[code]

[2021-04-29 14:33] rithvikvibhu commented on #126
@albertcht looks like the same as error as the previous one (https://github.com/handshake-org/hs-airdrop/issues/126#issuecomment-826826010). It has already been claimed.

[code]

[2021-04-29 15:16] pinheadmz commented on #126
@hacket @albertcht don't forget airdrop claims require 100 confirmations before they are spendable. Give it at least a full day to show up in namebase.

[2021-04-29 23:17] Martin91 commented on #126
@johnnywu-namebase Seems like that generating base64 proof with `--bare` option worked for me. This time it finally transits to a new status waiting for more confirmations. Thanks a lot.

[2021-05-01 07:41] albertcht commented on #126
Hi @pinheadmz , @rithvikvibhu , @johnnywu-namebase ,

I've waited over than 2 days and it seems still doesn't work. The status in namebase's dashboard is always `Airdrop: waiting for airdrop to be mined...` and then disappeared with error message `There was an error submitting your airdrop to Handshake. If you're confident this airdrop has not already been claimed, contact support.`.

I'm one hund

[2021-05-04 14:05] pinheadmz opened #133 "Verification failure: txn-already-in-mempool / bad-txns-inputs-missingorspent"
If you see this error in the hsd log after broadcasting your airdrop proof, it means **YOUR AIRDROP HAS ALREADY BEEN CLAIMED**. This is essentially a double-spend error.

Every GitHub airdrop recipient can claim ONCE on Handshake. This means even if you had 10 PGP keys in your account, you can only claim once, and then the other 9 keys won't work. If you didn't claim with `--bare` before and are t

[2021-05-04 14:08] pinheadmz commented on #126
@albertcht you must contact namebase support on their website or discord, unfortunately your case is now off-topic for this repository.

[2021-05-05 06:27] sj26 commented on #106
From https://www.namebase.io/airdrop:

<img width="766" alt="image" src="https://user-images.githubusercontent.com/14028/117103977-b19a4100-adbe-11eb-860d-69a94492a562.png">

[2021-05-05 12:24] 0xdevalias commented on #17
See https://github.com/handshake-org/hs-airdrop/issues/106 for the basics required to run an airgapped docker container.

[2021-05-05 23:34] 0xdevalias commented on #106
For those searching/wondering, the error looks something like this:

[code]

See the solution in the original post: https://github.com/handshake-org/hs-airdrop/issues/106#issue-579462646

[2021-05-06 02:40] juharris commented on #126
Using `--bare` helped me. I also noticed that `./bin/hs-airdrop --help` doesn't say that the fee can be given without `-f` or `--fee` whereas the steps at https://www.namebase.io/airdrop say to do:
[code]
also `./bin/hs-airdrop --help` says to put the options after the address, so I did:
[code]

[2021-05-06 06:23] jayzalowitz opened #134 "Wait, so this only works if you decided you shouldnt ever rotate your github ssh keys?"
This is really bad in my opinion. You should be able to validate with your GitHub account, which still exists.

Also the instructions on how to run this clearly don't take into account anything simple, there's now yarn lock file, there's no ./bin/hs-airdrop in the instructions

I have no idea what you mean by "Handshake bech32 address"

Ideally you should be able to run a command that recursively

[2021-05-06 16:49] pinheadmz commented on #134
This would require the protocol to verify data on GitHub, a centralized service that exists outside the blockchain. This means GitHub could sweep the entire airdrop, roughly 50% of the entire HNS coin supply. I suppose we could allow some kind of complicated https-proof from github.com and verify it on chain, but that would be very complicated (although I do concede that this is essentially the sa

[2021-05-06 17:36] darshil commented on #126
@albertcht Did u figure it out? I am having the same problem. I followed this guide https://handshake.org/claim/ but when I do `./bin/hsw-cli balance` it shows 0

[2021-05-06 17:42] jayzalowitz commented on #134
1. Also - the fact that "the cat is out of the bag" means that GitHub users could easily cheat by spawning fake accounts to give themselves enough followers. Even if you rotate your keys you should still have backups of your old keys. As time goes on, I think you are right: users will lose their old keys and will not be able to claim the airdrop. That's part of the design.
So, the fact that I was

[2021-05-07 08:50] olso commented on #78
Yup, same feeling as @stomakun

[2021-05-08 04:32] hughevans commented on #133
I have this yeah:

[code]

[2021-05-09 01:45] icyphox commented on #133
Hi, I ran across this error after having realized that I didn’t run it with `--bare` the first time. However, my account balance won’t update:

[code]

Any ideas? I’ve given it about 8 hours.

[2021-05-10 03:03] mpint opened #136 "Unauthorized (bad API key)"
Hi everyone. After identifying a valid SSH key, I ran
[code]

and I receive the following error:

[code]

Does anyone know how to resolve this?

[2021-05-10 08:54] bsl commented on #106
This is kind of a funny predicament. This is a nice and generous effort, if it is what it purports to be. Looking things over, it seems like people have gone to way too much effort for it to be a scam. On the other hand, what experienced programmer is going to provide the password for their private key? If there's nothing dodgy going on, this tool simply should not have been written this way. Ther

[2021-05-10 09:03] bsl commented on #110
I think the short answer is no, there's no way to provide the password to your SSH private key to a huge pile of javascript in a way that most people would be OK with, and that's sad, because the people who wrote this tool may be trying to do something very nice with nothing dodgy going on. But IMO this tool simply should not have been written this way. Nobody should be giving this thing their pas

[2021-05-10 14:46] alxjsn commented on #13
This still seems to be an issue today with ed25519 keys.

[2021-05-10 18:11] natevw commented on #31
@pinheadmz So what is meant by the ["Fallback for HSMs" section](https://github.com/handshake-org/hs-airdrop/blob/5a6f57e/README.md#fallback-for-hsms) still in the current README:

The OP here quotes that same thing but then all the discussion that follows gives the impression that:

* the signing tool **can't** actually (or at least *doesn't* currently) present the raw data needed to be signed
*

[2021-05-10 18:21] natevw commented on #110
Given the lack of progress on https://github.com/handshake-org/hs-airdrop/issues/31 it seems it is technically infeasible to claim the airdrop without potentially compromising one's private key.

The goal of course is to claim the airdrop but not have the airdrop "claiming" you back.

AFAICT, the practical options (perhaps in combination) would be to:

1. remove the public key from Github and anyw

[2021-05-11 12:44] pinheadmz commented on #110
@natevw thanks for your comment, I agree with everything. Just to answer your question yes the airdrop is based on a snapshot from 2019 and so you are right, the most secure action would be to remove and replace that key from github before using hs-airdrop, and the original key from 2019 is the correct key to sign with.

[2021-05-11 15:35] hubert3 opened #137 "NonceError despite correct GitHub SSH key and > 15 followers"
Hi,

like a few other commenters here, hs-airdrop is telling me:

`NonceError: Could not find nonce in bucket xxx`

I am trying with an SSH key that I am confident was in place on my @hubert3 GitHub account in Feb 2019, and I definitely had > 15 followers at that time.

Are there any logs from when the GitHub data collection was done that can confirm whether my account was or wasn't included?

How

[2021-05-11 15:42] pinheadmz commented on #105
closing as duplicate: https://github.com/handshake-org/hs-airdrop/issues/35

[2021-05-11 15:43] pinheadmz commented on #137
All keys from your github account are in the airdrop tree, and all may qualify. However, each user is only to claim their airdrop once. This is handled with "subtrees" of keys for each user account, then the root of each subtree is the hash included (and proven) in the consensus airdrop merkle tree. If you had other keys on your account at the time of the snapshot, you should try those.

closing a

[2021-05-11 15:43] #137 closed

[2021-05-12 13:46] dewey commented on #13
Yep, same issue here.

[2021-05-12 19:41] linuxgemini opened #138 "Options re. larger RSA moduluses like 8192 bits"
Hello!

Does the nonce snapshot contain SSH keys that are larger than RSA 4096 bits, if so, would a patch on the hs-airdrop binary would help?

[2021-05-15 02:11] linuxgemini commented on #138
Closing, I RTFM'd a bit more and got it.

[2021-05-15 02:11] #138 closed

[2021-05-18 10:19] emanuele commented on #110
In principle, would it be possible to avoid giving the private key to hs-airdrop but instead just sign an hs-airdrop generated message externally, e.g. via gpg? Why is mandatory to give the key?

[2021-05-18 10:25] bsl commented on #110
Now that I search for it, I do see ways of signing messages with SSH keys using OpenSSL tools that I didn't know about. I think that would have been a better way to do things, but it still seems tolerable to burn the old key and use a new key instead. I needed to move to ed25519 anyway.

[2021-05-19 13:20] pinheadmz commented on #110
@emanuele @bsl you might be interested in tracking this issue: https://github.com/handshake-org/hs-airdrop/issues/31

It's technically possible to use your own software (or well-reviewed legacy software like OpenSSL) but there may be a few extra steps for example decrypting the nonce with your private key.

[2021-05-22 06:43] bert2002 commented on #31
Just tried to use it with a key on a Yubikey through ssh agent, but no luck :(

[2021-05-26 03:41] adhocore opened #139 "After airdrop claim balance still 0"
i followed https://handshake.org/claim/ and after running `hs-airdrop --bare ...` and then `hsd-cli rpc sendrawairdrop` without any error,
`hsw-cli balance` shows
[code]
even after 4 days.

i might have missed something. please suggest, thank you.

[2021-05-26 15:41] pinheadmz commented on #139
Is your hsd node fully synced? `hsd-cli info` look for `progress: ....`

[2021-05-26 16:43] fionn commented on #106
If you don't know what bucket corresponds to your key, create executable `get_nonce.sh` with content
[code]
and replace the last line in `Dockerfile` with
[code]
to download all buckets as a single layer.

[2021-05-27 02:57] adhocore commented on #139
thank you, it is 0.966, does it have to be 1 when done?

[2021-05-27 03:34] Anunayj commented on #31
Okay I did some digging on how this could be done, and here's what I found:-

1. If you use a PKCS11 token for ssh (For example [yubikey](https://developers.yubico.com/PIV/Guides/SSH_with_PIV_and_PKCS11.html)), You should be able to hook [pkcs11-tool](https://linux.die.net/man/1/pkcs11-tool) to do decryption and signing for you.
2. If you use a OpenPGP card, we're in bit of a pickle. [OpenPGP spec

[2021-05-27 14:08] pinheadmz commented on #139
Hooray! Yes, `progress: 1` is 100%, fully synced. Account `-1` means you are seeing the balance for ALL accounts in your wallet. You can also request to see data about individual accounts: https://hsd-dev.org/api-docs/#get-balance

Thanks for asking this question, it's a FAQ so I'm going to leave it open -- sync your node before checking your balance!

[2021-05-27 14:24] adhocore commented on #139
great, thank you. one more question if you don't mind, is bidding on name as in claim page compulsory?

[2021-05-27 14:27] pinheadmz commented on #139
I'm not sure what you mean, you don't have to bid on a name if you don't want to. If you own a reserved name from the legacy system you can claim it without bidding using a DNSSEC proof. You can join us on telegram https://t.me/hns_tech or IRC (freenode/libera) #handshake for more interactive support ;-)

[2021-05-28 10:03] lukes opened #140 "`(node-rpc) Assertion failed` error when executing `./bin/hsd-cli rpc sendrawairdrop`"
Hi!

I'm running through the instructions here https://handshake.org/claim/ and when I

[code]

It appears to work fine:

[code]

The next instruction is to `cd` to the `hs-client` directory and run:

[code]

I'm not sure which of those 4 keys printed above is the `BASE64_STRING`, so I've tried:

- running this command with each of the 4 above strings individually
- running it with all 4 concatena

[2021-05-28 10:10] rithvikvibhu commented on #140
The proof generation isn't complete. Looks like the process was "Killed" (last line). Could be due to memory or other constraints. Is this being run in a virtual machine / cloud instance? Running it again may work.

A successful output will include a large json object and end with a long base64 string, along with instructions on how to use it (the `sendrawairdrop` in your comment).

[2021-05-28 10:15] lukes commented on #140
Thanks! I'm using the smallest Digital Ocean droplet (1G memory and 1 CPU). I'll try resizing it up.

[2021-05-28 10:24] lukes commented on #140
Resizing the droplet to be larger worked! All done. Thank you for your help.

[2021-05-28 10:24] #140 closed

[2021-05-29 13:02] riski2801 commented on #140
this is good

[2021-05-31 21:37] christianlundkvist commented on #85
I have basically the same problem. It looks like it’s succeeding but then it just stops with **Killed**, although for me it’s in a different place. Any idea what the problem could be?

[code]

[2021-05-31 23:12] rithvikvibhu commented on #85
Looks like the same issue here: https://github.com/handshake-org/hs-airdrop/issues/140

Most likely memory constraints. Try using a vm with more ram.

[2021-06-01 02:00] christianlundkvist commented on #85
@rithvikvibhu Ah yes, I’m also using a cheap Digital Ocean instance, I’ll try upping the RAM on that. Thanks for the tip!

[2021-06-01 03:35] christianlundkvist commented on #85
@rithvikvibhu Upped the RAM from 1GB to 2GB and that seems to have fixed it! Thanks for the help!

[2021-06-01 14:00] pinheadmz commented on #85
Thanks for this discussion @christianlundkvist and @rithvikvibhu, I'm labeling this as "FAQ" and will leave it open.

[2021-06-04 15:49] micah commented on #54
@KireinaHoro how are you confirming that you are in the Strong Set?

[2021-06-07 03:14] Anunayj commented on #31
Also I just found [OpenPGPpy](https://github.com/bitlogik/OpenPGPpy) which would make this process a *lot* easier for opengpg cards.

[2021-06-21 20:31] din opened #141 "Claim airdrop, accidentally erased the .hsw directory, any ways to recover?"
Just claimed airdrop and then next thing I did is accidentally erased the .hsw directory. Didn't save the mnemonic, and I assume this is the only way to recover the wallet right? I have my terminal output with some tokens still in the terminal window. Am I out of luck with this? Is it possible to restore access without the mnemonic? Apologies I'm pretty new to all crypto-currency things.

[2021-06-21 21:33] pinheadmz commented on #141
Welcome to Handshake, and cryptocurrency -- unfortunately small mistakes can be big mistakes when we expect users to take care of private keys. But let's not loose hope yet. First of all -- which guide did you follow? The reason I ask is that `hsd` does not create a `.hsw` directory by default -- in fact if you still have `~/.hsd/wallet` you may in good shape.

[2021-06-21 21:42] din commented on #141
Thanks! I erased the whole `~/.hsw` directory and then after I ran `hsw-cli` it showed different information and didn't show previous account balance unfortunately. :( I followed the guide on http://handshake.org/claim/ and it was successful... until I have done the biggest mistake I suppose.

[2021-06-21 21:48] pinheadmz commented on #141
Hm, doesn't sound great. I'm still curious about the `.hsw` directory - the guide doesn't mention creating it, are you sure there was such a directory? Perhaps you mean `.hsd` which, if you deleted without backing up and can not recover with your operating system tools, may indeed mean that your airdrop is lost. If that's the case we can offer you some bounties for contributions to code and docume

[2021-06-21 21:52] din commented on #141
Oh yeah, sorry about this. My mistake! The directory name is indeed `.hsd`. I might try to recover it later on but I think it is already gone.

For the code contributions, I'm afraid I have very little knowledge in terms of contributing to cryptocurrency codebase, only maybe if you eventually have iOS/macOS clients for something, I could contribute to those.

Anyway thank you for the response! Nex

[2021-06-21 21:52] #141 closed

[2021-06-24 23:28] andrecgro opened #142 "Error: Cannot find module 'leveldown.node'"
I'm not being able to run finish the installation process.

When trying to run `.bin/hsd --log-level info`, I get:

[code]

OS: macOS Catalina 10.15.7
node: v14.16.1
npm: 6.14.12

[2021-06-24 23:34] pinheadmz commented on #142
Did installation succeed? You may need to try `npm rebuild` to recompile the native addons (like leveldb) for your OS

[2021-06-24 23:37] andrecgro commented on #142
Yes, the installation was successful. This was the only problem

[2021-06-24 23:39] andrecgro commented on #142
The `npm rebuild` did the trick!!
Thank you very much.

[2021-06-24 23:39] #142 closed

[2021-07-06 23:16] Bashar commented on #32
my private key is on top with or without publickey at the bottom i get the error:
Error: Unknown private key type: PGP PRIVATE KEY BLOCK.

ubuntu linux

[2021-07-16 10:13] andrekovac commented on #127
Run `npm rebuild bcrypto` and continue `npm rebuild` commands for any other modules which throw the `Error: Cannot find module` error.

[2021-07-16 17:36] arno01 commented on #32
FWIW: for those having issues such as "Error: Could not find key for ID: ....", ...

move the exact key you need to sign the proof with, using gpg v1.x:

[code]

[2021-08-21 11:37] tunnckoCore commented on #139
Progress 100%, account balance -1, nothing in my wallet.

[code]

the `./bin/hsw-cli account get default` shows `balance.account: 0`

[code]

But the `./bin/hsw-cli balance` shows -1.

[code]

[2021-08-21 21:23] tunnckoCore commented on #131
Nope. Even with `--bare`, plus I'm not using the ssh, I use the pgp keys.

With or without `--bare` i'm getting the same base64 string, but different hash when `sendrawairdrop`.

My node is fully synced.

[2021-08-21 21:55] pinheadmz commented on #139
@tunnckoCore you good?

https://github.com/handshake-org/hs-airdrop/issues/131#issuecomment-903178055

welcome to handshake!

[2021-08-22 01:31] tunnckoCore commented on #139
Yep. Good now :) After 3 days syncing, haha.

[2021-08-23 21:26] roblabla commented on #31
I went deep into this, and I've come to the conclusion that people who store their RSA keys on an OpenPGP token will **not** be able to participate in this drop. Here's why: In order to participate in the drop, the user needs the ability to decrypt a nonce using OAEP padding. The OpenPGP Smartcard specification only supports the older PKCSv1.5 padding, not OAEP. As such, yubikey  (and other HSM) u

[2021-10-20 09:07] pavankotesh commented on #48
I had this issue with v17.0.0, I switched to v14.18.1 and it disappeared. Thanks @DavidMendiluce

[2021-11-04 00:34] michaelknoch commented on #133
did you find a solution @icyphox ?

[2021-11-04 00:47] pinheadmz commented on #133
@icyphox @michaelknoch airdrops require 100 confirmations to mature before spending (like the miners reward in the coinbase transaction)

[2021-11-06 23:33] parkan commented on #134
The airdrop snapshot happened 10 days before my SSD failed and I had to rotate in new keys, with no realistic way to recover

I also recall a mechanism where you registered your keys with handshake (I believe it was here: https://web.archive.org/web/20181001041019/https://handshake.org/signup), which I went through and everything I saw seemed to suggest that the login information (which I still ha

[2021-11-07 00:44] pinheadmz commented on #134
@parkan If you registered on handshake.org you would have been prompted to use https://github.com/handshake-org/faucet-tool to generate a seed phrase and a receive address, then enter that address into the website. If you did that successfully, your GitHub PGP keys would have been removed form the airdrop and replaced with the "faucet" airdrop. Username/password credentials for handshake.org are u

[2021-11-07 22:10] parkan commented on #134
@pinheadmz thank you, I didn't realize that's how "faucet" is used here since typically it means an open-to-all distribution mechanism for very small drops, I do have the seed phrase :+1:

[2021-11-20 16:29] Midar opened #145 "Doesn't work with GPG key"
I'm getting
[code]

However, I did have more than 15 followers and GitHub says the key was

so, should be old enough.

Does this not work with GPG keys? I'd like to avoid giving it my SSH key, as that has access to so many things that I just cannot risk it.

Also, can you claim with any of the keys you have, or can you claim with each? As in, is this per key or per account?

[2021-11-20 16:31] pinheadmz commented on #145
The key you passed to hs-airdrop is not in the airdorp snapshot, I can not help you understand why. Either it's the wrong key or you didn't qualify on the snapshot date. It works with GPG and SSH keys, if you think you had another key in your Github account at that time, try it. All your keys at the time of the snapshot are included in the airdrop tree but each user can only claim one airdrop (it

[2021-11-20 16:42] Midar commented on #145
Well, I did easily have more than 15 followers in 2018/2019. And as per GitHub, you see when the key was added, so it was there. So, the airdrop snapshot must be broken then.

[2021-11-20 16:49] pinheadmz commented on #145
Is it possible your key was not an acceptable type? There are some restrictions on the readme and more details here: https://github.com/handshake-org/hs-airdrop/issues/35#issuecomment-586699876

[2021-11-20 16:51] Midar commented on #145
The key in question is an Ed25519 key, whch is unsupported by GNUPG 1. Might that be the reason?

[2021-11-20 16:53] pinheadmz commented on #145
Hmm no that should be ok:

https://github.com/handshake-org/hs-airdrop#accepted-key-algorithms

[2021-11-20 16:55] Midar commented on #145
Is there a way to check if a key's in there with just the public key? Then I'll iterate over all my keys.

[2021-11-20 16:57] pinheadmz commented on #145
The only way to check is to run hs-airdrop. It can be done on an air gapped machine if you prefer but it must search the hs-tree-data for the nonce.

[2021-11-20 16:59] Midar commented on #145
Hmm, I'm reluctant to try it on my main SSH key that I use ~ everywhere for years now. How can I be sure the private key is not leaked into the base64 output from hs-airdrop?

[2021-11-20 17:01] pinheadmz commented on #145
You can audit the code, rotate your 3-year-old keys out so they aren't important anymore, or simply do not claim the airdrop. There are lots of other ways to get involved in HNS

[2021-12-18 08:03] Nakilon commented on #42
Does this mean if my private key was generated on 23 Sep 2019 I can't claim by HNS?!

[2022-01-02 03:45] MrRed369 commented on #48
i am also face this problem anyone help me
![hhhhhhhhhh](https://user-images.githubusercontent.com/84004037/147865562-04c4db76-8b40-478e-b7f5-fd4fe538011f.jpeg)
?

[2022-01-15 16:45] pbrocks commented on #48
@MrRed369 https://stackoverflow.com/a/69665354/6282094

[2022-01-23 15:15] mrzool commented on #139
Hi, I also followed the instructions at https://handshake.org/claim/ and everything worked without errors. The public address I generated in the process is showing the [right balance](https://e.hnsfans.com/address/hs1qqlkd8ys2zmhcn6n8ampuury3zrxr2xdksvfjw0). The problem is, I have no idea how to import those coins into my wallet now. I only have that public address and a wallet I set up using [bob

[2022-01-24 03:11] pinheadmz commented on #139
@mrzool when you ran hsd for the first time, a wallet was generated for you and that's the address you got from this command: `./bin/hsw-cli account get default | grep receiveAddress`

To restore this wallet in Bob, you need to restart hsd and then get the seed phrase:

`hsw-cli master`

https://hsd-dev.org/api-docs/#get-master-hd-key

Then you can import this seed phrase into Bob Wallet and resca

[2022-03-01 15:51] erorr-404-Aditya commented on #48
i was thinking that maybe that was the issue of passkey but no ,,,,,,,,,,,,,,,,,,   that was never a issue,,,,,,,,,,,,,,,----------------
The Real Issue Was The IV

var iv = crypto.randomBytes(16)

I create iv Randomly every time so i have to store it in a var that hold it until i proccess this further;;
and after iv sets perfect i used Buffer From That IV AND WOOOW;;;;; I JUST GOT SUCCESS

Buffer

[2022-03-02 12:33] HaleTom commented on #48
Thanks for this!

How much in USD terms is the value of the airdrop?

On 1 March 2022 22:51:29 erorr-404-Aditya ***@***.***> wrote:

[2022-06-28 19:36] handshake-enthusiast commented on #134
@jayzalowitz I see your frustration, especially considering you posted on a day when $HNS was at it's ATH 😃 Though I don't get the downvotes – as I see none of the downvoters contributed to Handshake anyhow except leaving their reactions here. Anyway, chances are you still have your old backups somewhere on external disks and can grab your old keys from there 😉